<div class="footer-content container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-2 mob-mb30 text-center text-md-left">
				<a href="index.html"><img src="assets/img/logo_olive_tree_footer.png" width="116" alt=""></a>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-lg-5">
						<div class="fo-co-par par-short">
							<div class="fo-co-title">
								<h4>Locations</h4>
							</div>
							<div class="section-par">
								<p>
									Olive Tree Development Center <br>
									179A Thomson Road, 2nd Floor Goldhill Shopping Center, Singapore
								</p>
								<p>Tel: <a class="link link-inherit" href="tel:62525200">6252 5200</a></p>
								<hr>
								<p>
									Olive Tree EduCentre <br>
									181A Thomson Road, 2nd Floor Goldhill Shopping Center, Singapore
								</p>
								<p>Tel: <a class="link link-inherit" href="tel:62525200">6252 5200</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-7 mt-5 mt-lg-0">
						<div class="row">
							<div class="col-sm-6 col-md-5 col-xl-6">
								<div class="fo-co-title">
									<h4>Links</h4>
								</div>
								<div>
									<ul class="fo-co-links links-animate">
										<li><a href="index.html">Home</a></li>
										<li><a href="about-us.html">About us</a></li>
										<li><a href="programs-and-services.html">Programs &amp; Services</a></li>
										<li><a href="resources.html">Resources</a></li>
										{#
										<li><a href="#">Events</a></li>
										<li><a href="#">Testimonials</a></li>
										#}
										<li><a href="contact-us.html">Contact us</a></li>
									</ul>
								</div>
							</div>
							<div class="col-sm-6 col-md-7 col-xl-6 text-md-right mt-5 mt-md-0">
								<div class="d-inline-block text-left">
									<div>
										<h6 class="mb-2">Follow us on</h6>
										<ul class="fo-sns-list">
											<li><a href="https://www.facebook.com/OliveTreeDevelopmentCenter/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://www.instagram.com/olivetree.sg" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.youtube.com/channel/UC0H7intx3r0vgJjUnJ4yCaQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
											<li><a href="https://www.linkedin.com/in/olive-tree-development-center-05aa7b1ab/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
									</div>
									<div class="mt30 mob-mt40">
										<h6 class="mb-2">Subscribe to our newsletter</h6>
										<form action="" method="">
											<div class="fo-co-form">
												<input class="form-control" type="text" name="" value="">
												<button><i class="far fa-angle-right"></i></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="text-md-right pt20 mob-pt30">&copy; 2021 Olive Tree Development Center. All rights reserved</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>