<div class="header-content">
	<div class="header-top container-fluid">
		<div class="d-md-flex justify-content-end">
			<div class="he-to-right">
				<div class="he-to-cols">
					<div>
						<div class="he-to-search com_search-input">
							<form action="">
								<input type="text" name="" value="" placeholder="Search...">
								<div class="he-to-search-icon"><i class="fa fa-search"></i></div>
								<div class="d-none">
									<button class="button button-primary">submit</button>
								</div>
							</form>
						</div>
					</div>
					<div>
						<a class="button button-primary button-width-2" href="#">Book an Appointment</a>
					</div>
					<div class="menu-bar">
						<span></span><span></span><span></span>
						<div class="me-ba-text">Close</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-main container-fluid">
		<div class="container">
			<div class="logo">
				<a class="link-animate" href="index.html"><img src="assets/img/logo_olive_tree.png" width="143" alt=""></a>
			</div>
		</div>
	</div>
</div>

<div class="header-menu">
	<div class="header-menu-main">
		<div class="menu links-animate">
			<ul>
				<li class="menu-set{% if activePage == 'home' %} active{% endif %}"><a href="index.html">Home</a></li>
				<li class="menu-set{% if activePage == 'about-us' %} active{% endif %}"><a href="about-us.html">About us</a></li>
				<li class="menu-set{% if activePage == 'programs-and-services' %} active{% endif %}">
					<a href="programs-and-services.html">Programs &amp; Services</a>
					<ul>
						<li><a href="intervention-program.html">Olive Tree Intervention Program</a></li>
						<li><a href="therapy-services.html">Therapy Services</a></li>
						<li><a href="specialized-programs.html">Specialized Programs</a></li>
						<li><a href="psychological-assessment.html">Psychological Assessment</a></li>
						<li><a href="tele-therapy.html">Tele Therapy</a></li>
					</ul>
				</li>
				<li class="menu-set{% if activePage == 'blog' %} active{% endif %}"><a href="blog.html">Blog</a></li>
				<li class="menu-set{% if activePage == 'resources' %} active{% endif %}">
					<a href="resources.html">Resources</a>
					<ul>
						<li><a href="resources.html#professional-development">Professional Development</a></li>
						<li><a href="resources.html#parent-training-workshops">Parent-training Workshops</a></li>
						<li><a href="resources.html#our-blog">Our Blog</a></li>
					</ul>
				</li>
				{#<li class="menu-set{% if activePage == 'events' %} active{% endif %}"><a href="#">Events</a></li>#}
				<li class="menu-set{% if activePage == 'testimonials' %} active{% endif %}"><a href="testimonials.html">Testimonials</a></li>
				<li class="menu-set{% if activePage == 'contact-us' %} active{% endif %}"><a href="contact-us.html">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="header-menu-cover"></div>