.ab-co-box { z-index: 3; position: relative; max-width: 557px;
	@include breakpoint(phablet) { max-width: inherit; }
}
.ac-bo-top { @extend .bp-img, .bp-img.wide; }
.ac-bo-main { z-index: 3; position: relative; padding: 15px 50px 80px 50px; background-color: $coWhite; border-radius: 0 0 30px 30px;
	@include breakpoint(phablet) { padding: 20px 15px 80px 15px; }
}

.ac-bo-bg {
	&.cloud-one { position: absolute; top: 0%; left: 0; }
}

.ab-co-par {
	.section-par {
		&:not([class*="mb"]) { margin-bottom: 70px;
			@include breakpoint(tablet2) { margin-bottom: 50px; }
		}
		&:last-child { margin-bottom: 0 !important; }
	}

	h3 {
		&:not([class*="mb"]) { @extend .mb30; }
	}
}

.ab-co-falls { z-index: 4; position: absolute; top: -100px; left: calc(50% - 120px); width: 100%; max-width: 1393px; pointer-events: none;
	@media (max-width: 1200px) { top: inherit; bottom: -50px; left: calc(557px - 60px); width: calc(125% - 557px + 60px); }
	@include breakpoint(phablet) { position: relative; bottom: 70px; left: calc(-7% + 15px); width: 157%; }
	@include breakpoint(mobile) { bottom: 100px; }
}

.ab-co-list {
	&.list-2 { margin-left: -15px; margin-right: -15px; margin-bottom: -50px;
		> li { display: inline-block; vertical-align: top; width: 50%; margin-bottom: 50px; padding-left: 15px; padding-right: 15px; margin-left: -2px; margin-right: -2px; }

		@include breakpoint(phablet) { display: block; margin-left: 0; margin-right: 0; margin-bottom: -24px;
			> li { display: block; width: auto; max-width: inherit; flex: 0 0 100%; margin-bottom: 24px; padding-left: 0; padding-right: 0; }
		}
	}
}
.ac-li-set { text-align: center; font-size: 20px; color: inherit;
	.section-par {
		h3 { margin-bottom: 0; color: $coGrey1; transition: color 0.5s; }
	}
}
a.ac-li-set {
	&:hover { color: inherit;
		.section-par {
			h3 { color: $coOrange; }
		}
	}
}

.al-se-img { margin-bottom: 24px; }

.ab-section-two { padding-bottom: 300px;
	@include breakpoint(tablet) { position: relative;
		&:after { content: ''; display: block; position: absolute; top: 30%; left: 0; width: 100%; height: calc(70% - 350px); background-color: #d8f9ff; }
	}

	@include breakpoint(tablet2) {
		&:after { height: calc(70% - 200px); }
	}

	@include breakpoint(phablet) {
		&:after { top: 20%; height: calc(80% - 15%); }
	}

	@include breakpoint(mobile) {
		&:after { top: 0; height: calc(100% - 10%); }
	}
}
.ab-section-three { z-index: 4; position: relative; }

.ab-us-banner-one {
	@include breakpoint(mobile) { max-width: 215px; }
}