.button { display: inline-block;
	&-primary { min-width: 165px; min-height: 43px; padding: 12px 20px; background-color: $coOrange; color: $coWhite; font-size: 14px; border: none; border-radius: 30px; text-align: center; font-weight: 600; outline: none !important;		&:hover, &:active { background-color: $coGrassGreen; color: $coWhite; }

		&.btn-border { border: 2px solid $coOrange; background-color: transparent; color: $coOrange;
			&:hover, &:active { background-color: $coOrange; color: $coWhite; }
		}
	}

	&-width-2 { min-width: 255px; }
	&-width-3 { min-width: 218px; }
	&-width-4 { min-width: 180px; }
}