.co-us-list {
	> li { display: flex; margin-bottom: 15px;
		&:last-child { margin-bottom: 0; }

		> * { width: 100%; padding-right: 15px;
			&:last-child { padding-right: 0; }
		}
		.icon { width: 35px; max-width: 35px;
			[class*="fa"] { font-size: 100%; color: $coMossGreen;
				&[class*="marker"] { font-size: 118%; }
			}
		}
	}
}

.com_olive-tree-map { position: relative; min-height: 400px; box-shadow: 0 3px 15px rgba($coBlack, 0.05); border: 10px solid $coWhite; background-color: $coGrey1; border-radius: 10px;
	iframe { display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}

.co-us-input { outline: none !important; box-shadow: none !important; border-radius: 5px; border-color: $coMossGreen; @extend .mobile-input; }
textarea.co-us-input { height: 130px; resize: none; }

.co-us-box { padding: 70px; background-color: $coWhite; box-shadow: 0 4px 12px rgba($coBlack,0.08); border-radius: 10px;
	.form-control { @extend .co-us-input; }

	.form-group {
		&:last-child { margin-bottom: 0 !important; }
	}

	@include breakpoint(phablet) { padding: 30px 20px; }
}

.co-us-d-banner {
	@include breakpoint(mobile) { margin-left: -45px; margin-right: -45px; }
}