// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');
.font-a { font-family: 'Montserrat', 'Helvetica', 'Calibri'; }

.fw-400 { font-weight: normal; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: bold; }
/** font face **/
