// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; background-color: $coDarkGreen; color: $coWhite; }
.footer-content { padding-top: 85px; padding-bottom: 130px; font-size: 12px;
	@include breakpoint(tablet2) { padding-top: 45px; padding-bottom: 45px; }

	.link-inherit {
		&:hover { color: $coOrange; }
	}
}

.fo-co-par {
	&.par-short { max-width: 240px; }
}

.fo-co-title { margin-bottom: 20px;
	> * {
		&:last-child { margin-bottom: 0 !important; }
	}
}

.fo-co-links {
	> li { margin-bottom: 7px;
		&:last-child { margin-bottom: 0; }

		a { color: inherit; @extend .link;
			&:hover { color: $coOrange; }
		}
	}
}

.fo-sns-icon { display: flex; align-items: center; justify-content: center; width: 39px; height: 39px; background-color: #f2fafb; color: #a6b38a; border-radius: 50%; font-size: 18px;
	[class*="fa"] {
		&.fa-instagram { font-size: 24px; }
	}

	&:hover { background-color: $coOrange; color: $coWhite; }
}

.fo-sns-list { margin-bottom: -10px;
	> li { display: inline-block; margin-right: 10px; margin-bottom: 10px;
		&:last-child { margin-bottom: 0; }
		a { @extend .fo-sns-icon; }
	}
}

.fo-co-form { display: flex;
	input, button { height: 33px; border: none !important; outline: none !important; box-shadow: none !important; }
	input { width: 100%; padding: 5px 10px; border-radius: 5px 0 0 5px; font-size: inherit; }
	button { width: 43px; background-color: $coOrange; border-radius: 0 5px 5px 0 !important; color: $coWhite; font-size: 18px; @extend .mobile-input;
		&:hover { background-color: $coGrassGreen; color: $coWhite; }
	}
}