// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
header {}
.header-content { position: absolute; top: 0; left: 0; width: 100%;
	&.header-absolute {
		.header-top { position: absolute; }
	}

	.logo { @extend .bp-img; }
	
	&.header-down {
		.header-top { position: fixed; background-color: rgba($coWhite, 0.8); box-shadow: 0 1px 10px rgba($coBlack, 0.08); backdrop-filter: blur(10px); }

		&.header-hide {
			.header-top { box-shadow: none; }
		}
	}
}

.header-top { z-index: 103; position: fixed; top: 0; left: 0; width: 100%; padding-top: 25px; padding-bottom: 25px; transition: background 0.5s, box-shadow 0.5s, backdrop-filter 0.5s;
	.logo {
		a { display: block; padding-top: 21px; padding-bottom: 21px; }
	}

	@include breakpoint(tablet2) { padding-top: 15px; padding-bottom: 15px; }
}
.he-to-right { }
.he-to-cols { display: flex; align-items: center;
	> * { margin-right: 35px; transition: opacity 0.5s, transform 0.5s;
		&:last-child { margin-right: 0; }
	}

	@include breakpoint(tablet2) { justify-content: space-between;
		> * { margin-right: 15px; }

		.button-width-2 { min-width: 230px; }
	}
}

.he-to-search-btn { padding: 10px; font-size: 20px; color: $coMossGreen;
	&:hover { color: $coGrassGreen; }
}

.menu-bar { position: relative; width: 29px; cursor: pointer;
	> span { display: block; position: relative; width: 100%; height: 4px; margin: 6px 0; transition: transform 0.3s;
		&:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: $coMossGreen; border-radius: 30px; transition: width 0.3s; }

		&:nth-child(2) {
			&:before { left: inherit; right: 0; }
		}

		&:nth-child(3) {
			&:before { width: 72%; }
		}
	}

	.me-ba-text { opacity: 0; position: absolute; top: 50%; right: 100%; padding: 10px; font-size: 14px; text-transform: uppercase; font-weight: bold; transform: translate3d(10px,-50%,0); pointer-events: none; transition: opacity 0.5s, transform 0.5s; }

	&.active {
		> span {
			&:nth-child(1) { transform: rotate(-45deg) translate3d(-7px,7px,0); }
			&:nth-child(2) {
				&:before { width: 0%; }
			}
			&:nth-child(3) { transform: rotate(45deg) translate3d(-7px,-7px,0);
				&:before { width: 100%; }
			}
		}

		.me-ba-text { opacity: 1; pointer-events: auto; transform: translate3d(0,-50%,0); }
	}

}

.header-main { z-index: 100; position: relative; padding-top: 17px; padding-bottom: 17px;
	.logo { display: inline-block; }

	@include breakpoint(tablet2) { padding-top: calc(73px + 15px); text-align: center; }
}

.header-menu-active {
	.header-top { background-color: transparent !important; box-shadow: none !important; backdrop-filter: blur(0px) !important; }

	.he-to-cols {
		> * {
			&:not(.menu-bar) { opacity: 0; transform: translate3d(-10px,0,0); pointer-events: none; }
		}
	}

	@include breakpoint(mobile) {
		.header-top { background-color: $coWhite !important; }
	}
}

.header-menu { z-index: 102; display: none; position: fixed; top: 0; right: 0; --width: 428px; width: var(--width); height: 100%; background-color: $coWhite; transform: translate3d(var(--width),0,0); box-shadow: 0 0 20px rgba($coBlack, 0.05);
	.menu { color: $coGrey1;
		> ul {
			> li { border-bottom: 1px solid #f7f7f7;
				> a { position: relative; display: block; padding: 20px 30px; color: inherit; font-weight: bold;
					&:before { content: ''; opacity: 0; display: block; position: absolute; top: 0; left: 0; width: 4px; height: 100%; background-color: $coGreenLeaf; transition: opacity 0.3s; }

					@include breakpoint(mobile) { padding: 20px; }
				}

				&:hover {
					> a { color: $coMossGreen; }
					.menu-sub-arrow { color: $coMossGreen; }
				}

				&.active {
					> a { color: $coMossGreen;
						&:before { opacity: 1; }
					}
					.menu-sub-arrow { color: $coMossGreen; }
				}

				ul { width: 100%; padding-bottom: 10px;
					> li {
						a { display: block; padding: 10px 30px; padding-left: 30px + 15px; color: inherit;
							&:hover { color: $coOrange; }
						}

						@include breakpoint(mobile) {
							a { padding: 10px 20px; padding-left: 20px + 15px; }
						}
					}
				}

				&.menu-sub { display: flex; align-items: center; flex-flow: wrap;
					> a { display: inline-block;
						+ .menu-sub-arrow { margin-left: -30px;
							@include breakpoint(mobile) { margin-left: -22px; }
						}
					}

					ul { display: none; }

					&.selected {
						.menu-sub-arrow { @extend .menu-sub-arrow.active; }
					}
				}
			}
		}
	}

	.com_list-hover-indicator { width: 4px !important; background-color: $coGreenLeaf; }

	@include breakpoint(mobile) { width: 100%; }
}

.menu-sub-arrow { position: relative; padding: 15px; cursor: pointer; color: inherit; font-size: 110%; transition: color 0.5s, transform 0.3s;
	&:hover { color: $coMossGreen; }

	&.active { transform: rotate(-180deg); }
}

.header-menu-main { position: relative; padding-bottom: 40px; border-top: 1px solid #ebebeb; @extend .scrolling-touch; }

.header-menu-cover { z-index: 101; display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba($coBlack, 0.1); }

.he-to-search { z-index: 5; position: relative;
	input { display: none; position: absolute; top: 0; right: 0; max-width: 300px; height: 43px; padding: 12px 20px; padding-right: 40px; @extend .mobile-input; border-radius: 30px !important; border: 1px solid $coMossGreen; box-shadow: 0 0 20px rgba($coBlack, 0.05); background-color: transparent; pointer-events: none; }

	&.search-active {
		input { pointer-events: auto; }
	}

	@include breakpoint(tablet) {
		input { background-color: $coWhite; }
	}

	@include breakpoint(tablet2) {
		input { right: inherit; left: 0; max-width: inherit; padding-left: 40px; padding-right: 20px; }
	}
}

.he-to-search-icon { z-index: 3; position: relative; display: flex; align-items: center; justify-content: center; width: 45px; height: 43px; font-size: 20px; border: none; background-color: transparent; color: $coMossGreen; outline: none !important; box-shadow: none !important; @extend .mobile-input; }