.page-home {
	.com_olive-tree-bottom { padding-bottom: 150px; background-image: url('../img/bg_bottom_mountain_home.png?v=2021080601');
		@include breakpoint(phablet) { background-size: auto 1200px; }
		@include breakpoint(mobile) { background-size: auto 1140px; }
	}
}

.ho-co-earth { position: relative; max-width: 590px;
	// outline: 1px dashed red;

	@include breakpoint(mobile) { margin-left: -15px; margin-right: -15px; }
}

.hc-ea-cloud { position: absolute; top: 0; left: 0; --start-x: -10%; --end-x: 100%; animation: movingCloud 30s linear infinite; pointer-events: none; }

.hc-ea-item { @extend .bp-img, .bp-img.wide;
	&.item-one { z-index: 5; position: relative; @extend .com_floating-item; }
	&.item-two { z-index: 4; position: absolute; top: -5%; left: 0; width: 100%; height: calc(100% + 5%); }

	&.item-three { top: 9.70%; left: -3.91%; width: 28.85%; @extend .hc-ea-cloud; }
	&.item-four { top: 53%; left: -17.75%; width: 17.23%; --start-x: 20%; --end-x: 120%; @extend .hc-ea-cloud; }
	&.item-five { top: 1.16%; left: calc(100% - 25.84%); width: 37.46%; --start-x: -40%; --end-x: 60%; @extend .hc-ea-cloud; }
	&.item-six { z-index: 6; top: 38.16%; left: calc(100% - 22.71%); width: 74.80%; --start-x: -5%; --end-x: 15%; @extend .hc-ea-cloud; }
}

.com_earth-snow { position: relative;
	// outline: 1px dashed green;
	.co-ea-snow { position: absolute; top: 0; left: 0; width: 5px; height: 5px; background-color: $coWhite; border-radius: 50%; pointer-events: none;
		// outline: 1px dashed orange;
		&.snow-1 { width: 7px; height: 7px; }
		&.snow-2 { width: 9px; height: 10px; }
		&.snow-3 { width: 8px; height: 9px; }

		@include breakpoint(mobile) { width: 4px; height: 4px;
			&.snow-1 { width: 6px; height: 6px; }
			&.snow-2 { width: 8px; height: 8px; }
			&.snow-3 { width: 7px; height: 8px; }
		}
	}
}

@keyframes movingCloud {
	0%, 100% { transform: translate3d(var(--start-x),0,0); }
	50% { transform: translate3d(var(--end-x),0,0); }
}

.ho-co-speech-bubbles { }

.hc-sp-item { position: absolute; top: 0; left: 0; cursor: pointer;
	// outline: 1px dashed orange;
	&.item-1 { top: 8.5%; left: 46%; width: 8.74%; height: 10.60%;
		@media (min-width: 768px) and (max-width: 992px) { top: 9.5%; left: 43.5%; }
		@include breakpoint(mobile) { top: 9.5%; left: 45.5%; }
	}
	&.item-2 { top: 26.8%; left: 54.5%; width: 8.74%; height: 10.60%;
		@media (min-width: 768px) and (max-width: 992px) { top: 27.8%; left: 51.5%; }
		@include breakpoint(mobile) { top: 27.8%; left: 53.5%; }
	}
	&.item-3 { top: 31.8%; left: 28%; width: 8.74%; height: 10.60%;
		@media (min-width: 768px) and (max-width: 992px) { left: 30%; }
		@include breakpoint(mobile) { left: 29%; }
	}
	&.item-4 { top: 39.2%; left: 76.6%; width: 8.74%; height: 10.60%;
		@media (min-width: 768px) and (max-width: 992px) { left: 73.6%; }
		@include breakpoint(mobile) { left: 75.6%; }
	}
	&.item-5 { top: 50.8%; left: 26.8%; width: 8.74%; height: 12.6%;
		@media (min-width: 768px) and (max-width: 992px) { top: 51.8%; left: 23.8%; }
		@include breakpoint(mobile) { top: 51.8%; left: 25.8%; }
	}
	&.item-6 { top: 70%; left: 41.8%; width: 9.5%; height: 13.5%;
		@media (min-width: 768px) and (max-width: 992px) { top: 71%; left: 43.8%; }
		@include breakpoint(mobile) { top: 71%; left: 43.8%; }
	}

	.hc-sp-bubble { opacity: 0; pointer-events: none; }
}

.hc-sp-bubble { position: absolute; display: flex; align-items: center; justify-content: center; bottom: 100%; width: 107px; height: 62px; padding: 5px 10px; background-color: $coWhite; border-radius: 50%; box-shadow: 2px 2px 0 rgba($coBlack, 0.6); color: #262626; font-size: 12px; text-align: center; transform: translate3d(-50%,0,0);
	&:after { content: ''; display: block; position: absolute; top: calc(100% - 1px); left: 0; width: 28px; height: 18px; background-repeat: no-repeat; background-size: cover; }

	&.top-left { left: -32%;
		&:after { left: 47%; background-image: url('../img/home/arrow_right.png'); }
	}

	&.top-right { left: 102%; box-shadow: 2px 2px 0 rgba($coBlack, 0.6);
		&:after { left: 38%; background-image: url('../img/home/arrow_left.png'); }
	}

	@include breakpoint(mobile) { width: 90px; height: 50px; font-size: 11px;
		&:after { width: 20px; height: 13px; }
	}
}

.ho-gal-set { display: block; border: 10px solid $coWhite; box-shadow: 0 4px 12px rgba($coBlack, 0.1); border-radius: 10px; @extend .bp-img, .bp-img.wide;
	&:hover, &.active { box-shadow: 0 4px 12px rgba($coBlack, 0.2); }
}

.com_quote-box { position: relative; max-width: 752px; min-height: 280px; margin: 12px 15px; background-image: url('../img/banner_quote.png'); background-repeat: no-repeat; background-position: center; background-size: 100% 100%; font-size: 14px; color: $coDarkGreen;
	&:before, &:after { content: ''; position: absolute; bottom: 0; background-repeat: no-repeat; background-size: center; background-size: 100% 100%; }
	&:after { display: block; bottom: -3.57%; left: -1.59%; width: 6.78%; height: 20%; background-image: url('../img/banner_quote_curve.png'); }

	.com_quote-box-main { display: flex; padding: 37px 60px 35px 35px;
		> * { width: 100%; margin-right: 30px;
			&:last-child { margin-right: 0; }
		}
	}

	&.box-v2 { max-width: 733px; min-height: 446px; margin-left: auto; margin-right: auto; background-image: url('../img/banner_quote_v2.png');
		&:after { display: none; }

		.com_quote-box-main { padding: 60px 80px; }
	}

	&.box-v3 { margin-left: auto; margin-right: auto;
		// max-width: 434px; min-height: 232px; background-image: url('../img/banner_quote_v3.png');
		background-image: none; background-color: #e8ecc9; border-bottom: 5px solid #bebfa5; border-radius: 30px;
		// &:before { display: block; bottom: -17%; left: 9%; width: 8.29%; height: 21.98%; background-image: url('../img/banner_quote_arrow_v3.png'); }
		&:before { display: block; top: 100%; bottom: inherit; left: 40px; width: 36px; height: 51px; background-image: url('../img/banner_quote_arrow_v3.png'); }
		// &:after { bottom: -3.44%; left: inherit; right: -1.61%; width: 6.68%; height: 19.82%; background-image: url('../img/banner_quote_curve_v3.png'); }
		&:after { bottom: -16px; left: inherit; right: -10px; width: 29px; height: 46px; background-image: url('../img/banner_quote_curve_v3.png'); }

		.com_quote-box-main { position: relative;
			&:before { content: ''; display: block; position: absolute; top: 10px; left: 10px; width: 33px; height: 57px; background-image: url('../img/banner_quote_curve_top.png'); background-repeat: no-repeat; background-position: center; pointer-events: none; }
			// padding: 35px 20px 30px 35px;
			padding: 30px 30px;
		}

		@include breakpoint(phablet) {
			&:before {
				// background-image: url('../img/banner_quote_arrow_mobile_v3.png');
				width: 25px; height: 35px;
			}
			.com_quote-box-main { padding: 25px !important; }
		}
	}

	@include breakpoint(phablet) { margin: 0; background-image: none !important; background-color: #e8ecc9; border-radius: 20px;
		.com_quote-box-main { display: block; padding: 20px !important;
			> * { margin-right: 0; margin-bottom: 20px;
				&:last-child { margin-bottom: 0; }
			}

			.qu-bo-img { min-width: 130px; max-width: 130px; margin: 0 auto 20px auto !important;
				&.img-small { min-width: 80px; max-width: 80px; margin: 0 !important; }
			}
		}

		&:after { display: none; }
	}
}

.qu-bo-img { min-width: 161px; max-width: 161px; @extend .bp-img, .bp-img.wide;
	img { border-radius: 50%; }

	&.img-small { min-width: 88px; max-width: 88px;
		@include breakpoint(phablet) { min-width: 80px; max-width: 80px; }
	}
	&.img-border {
		img { border: 6px solid $coWhite; box-shadow: 0 4px 12px rgba($coBlack, 0.1); }
		
		@include breakpoint(phablet) {
			img { border-width: 5px; }
		}
	}
}
.qu-bo-par { position: relative; padding-top: 24px;
	&:before, &:after { content: ''; display: block; position: absolute; font-size: 48px; font-weight: 900; line-height: 0.5; }
	&:before { content: '“'; top: 0; left: 0; }
	&:after { content: '”'; bottom: 0; right: 0; }

	p {
		&:last-child { padding-right: 30px; }
	}
}

.ho-section-five { margin-top: 300px; color: $coWhite;
	// h3 { color: inherit !important; }

	.nav-1.owl-carousel .owl-nav button { color: $coWhite; }

	@include breakpoint(tablet2) { margin-top: 110px; color: inherit; }
}

.com_gallery-carousel {
	.owl-stage-outer { margin: -15px -10px; padding: 15px 10px;
		@media(min-width: 1080px) { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; }
	}

	&.owl-carousel {
		.owl-nav {
			button { top: calc(50% - 25px);
				@include breakpoint(tablet2) { top: 0; width: 100%; height: 100%; transform: none;
					&:before { display: none; }
				}
			}
		}
	}
}

.com_quote-carousel { 
	&.owl-carousel {
		.owl-stage-outer { overflow: visible; }

		.owl-nav {
			 button { top: calc(50% - 25px); }
		}

		.owl-item { opacity: 0; transition: opacity 0.3s;
			&.active { opacity: 1 !important; }

			@include breakpoint(tablet2) { opacity: 1; }
		}

		&.car-1 {
			.owl-dots { padding-top: 20px; }
		}
	}

	@include breakpoint(tablet2) {
		&.owl-carousel { max-width: calc(100% - 100px);
			.owl-stage-outer { overflow: visible !important; }

			.owl-nav {
				button { top: 0; width: 100%; height: 100%; transform: none;
					&:before { display: none; }
				}
			}
		}
	}

	@include breakpoint(mobile) {
		&.owl-carousel { max-width: calc(100% - 50px); }
	}

	&.carousel-v2 {
		.owl-nav button { top: calc(50% - 0px); }

		@include breakpoint(tablet2) {
			.owl-nav button { top: 0; }
		}
	}
}

.ho-banner-one {
	@include breakpoint(mobile) { left: -30px; width: calc(100vw + 20px); margin-left: -15px; margin-right: 0; }
}

.ho-banner-two {
	@include breakpoint(mobile) { left: -15px; width: calc(100vw + 30px); margin-left: -15px; margin-right: -15px; }
}