.link { @include underline(currentColor); color: $coOrange;
	&:hover { color: $coOrange; }

	&.link-underline { color: $coOrange; }
}

.link-inherit { color: inherit; }

.link-underline { color: $coOrange; @include underline2(currentColor);
	&:hover { color: $coOrange; }
}

.link-white {}