 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; overflow-x: hidden; }

.ease,a,input[type="submit"],button { transition: all 0.5s ease; }
.auto { max-width:$maxWidth; margin-left: auto; margin-right: auto; }

#main-wrapper {
	.container-fluid {
		&:not([class*="pt"]) { padding-top: 50px;
			&:first-child { padding-top: 20px; }
		}

		&:last-child {
			&:not([class*="mb"]) { margin-bottom: 60px; }
		}

		@include breakpoint(tablet2) {
			&:not([class*="pb"]) { padding-bottom: 20px; }
		}
	}
}

.fl { float:left; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }

.bp-set { display:inline-block; *display:inline;
  &.vm { vertical-align:middle; }
  &.vt { vertical-align:top; }
  &.vb { vertical-align:bottom; }
}

.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }

.co-black { color: $coBlack; }
.co-white { color: $coWhite; }
.co-orange { color: $coOrange; }
.co-moss-green { color: $coMossGreen !important; }
.co-paradise-green { color: $coParadiseGreen !important; }
.co-puffins-bill { color: $coPuffinsBill !important; }
.co-bright-yarrow { color: $coBrightYarrow !important; }

.bg-avocado-green { background-color: $coAvocadoGreen; }
.bg-dupain { background-color: $coDupain; }

.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%);
	> img { @include border-radius(50%); }
}

.mobile-input { @include appearance(none); border-radius: 0; }

.no-margin { margin: 0; }
.no-padding { padding: 0; }

.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }
.pt40 { padding-top: 40px; }
.pt50 { padding-top: 50px; }
.pt100 { padding-top: 100px; }

.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px; }
.pb40 { padding-bottom: 40px; }
.pb50 { padding-bottom: 50px; }
.pb100 { padding-bottom: 100px; }

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt80 { margin-top: 80px; }
.mt100 { margin-top: 100px; }

.mb0 { margin-bottom: 0; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }
.mb100 { margin-bottom: 100px; }

@include breakpoint(tablet2) {
	.pt20 { padding-top: 10px; }
	.pt30 { padding-top: 20px; }
	.pt40 { padding-top: 30px; }
	.pt50 { padding-top: 40px; }

	.pb20 { padding-bottom: 10px; }
	.pb30 { padding-bottom: 20px; }
	.pb40 { padding-bottom: 30px; }
	.pb50 { padding-bottom: 40px; }

	.mt20 { margin-top: 10px; }
	.mt30 { margin-top: 20px; }
	.mt40 { margin-top: 30px; }
	.mt50 { margin-top: 40px; }

	.mb20 { margin-bottom: 10px; }
	.mb30 { margin-bottom: 20px; }
	.mb40 { margin-bottom: 30px; }
	.mb50 { margin-bottom: 40px; }

	.mob-pt0 { padding-top: 0; }
	.mob-pt10 { padding-top: 10px; }
	.mob-pt20 { padding-top: 20px; }
	.mob-pt30 { padding-top: 30px; }
	.mob-pt40 { padding-top: 40px; }
	.mob-pt50 { padding-top: 50px; }

	.mob-pb0 { padding-bottom: 0; }
	.mob-pb10 { padding-bottom: 10px; }
	.mob-pb20 { padding-bottom: 20px; }
	.mob-pb30 { padding-bottom: 30px; }
	.mob-pb40 { padding-bottom: 40px; }
	.mob-pb50 { padding-bottom: 50px; }

	.mob-mt0 { margin-top: 0; }
	.mob-mt10 { margin-top: 10px; }
	.mob-mt20 { margin-top: 20px; }
	.mob-mt30 { margin-top: 30px; }
	.mob-mt40 { margin-top: 40px; }
	.mob-mt50 { margin-top: 50px; }

	.mob-mb0 { margin-bottom: 0; }
	.mob-mb10 { margin-bottom: 10px; }
	.mob-mb20 { margin-bottom: 20px; }
	.mob-mb30 { margin-bottom: 30px; }
	.mob-mb40 { margin-bottom: 40px; }
	.mob-mb50 { margin-bottom: 50px; }

	.mob-gh0 { min-height: 0 !important; }
}

.com_preloader { z-index: 9999; display: flex; align-items: center; justify-content: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: $coBlueSky;
	&.preloader-finish { pointer-events: none;
		.pr-ma-olive {
			&.olive-one { opacity: 0; animation: none; }
		}
	}
}
.com_preloader-main { position: relative; width: 50px; height: 50px; pointer-events: none; }
.pr-ma-olive { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; animation: oliveJumping 1.5s linear infinite forwards;
	svg { display: block; width: 100%; }

	&.olive-one { animation-delay: 0s; }
	&.olive-two { animation-delay: 0.75s; }
}

@keyframes oliveJumping {
	0% { transform-origin: -50% 150%; transform: rotate(-90deg); opacity: 0; }
	50% { transform-origin: -50% 150%; transform: rotate(0deg); opacity: 1; }
	100% { transform-origin: 200% 150%; transform: rotate(90deg); opacity: 0; }
}

/** for inview animation **/
.animate, .anim-content, .anim-custom, [class*="animate-child"] { opacity: 0; }
.anim-content.visible { animation-name: animRun; }
.anim-content.visible, .anim-custom.visible { animation-duration: 0.8s; animation-fill-mode: forwards; }
@keyframes animRun {
	0% { opacity: 0; transform: translate3d(0,40px,0); }
	100% { opacity: 1; transform: translate3d(0,0,0); }
}

// you can include here the rest of your class name eg. home page
.scrolling-touch { overflow: auto; overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }
.no-wrap { white-space: nowrap; }
.outline { outline: 1px dashed red; }

.com_banner { background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;
	&.bp-ab { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
		+ .container { z-index: 2; position: relative; }
	}
	&.width-half { width: 50%; }
	&.banner-left { left: 0; }
	&.banner-right { right: 0; }
}

.container-fluid {
	@media (min-width: 1300px) { padding-left: 50px; padding-right: 50px; }
}
.container { max-width: $maxWidth; padding-left: 0; padding-right: 0;
	&.width-2 { max-width: 1000px; }
	&.width-3 { max-width: 780px; }
	&.width-4 { max-width: 950px; }
	&.width-5 { max-width: 800px; }
	&.width-6 { max-width: 750px; }
}

// for rows
.row {
	@include breakpoint(lg) {
		&.row-medium { margin-left: -20px; margin-right: -20px;
			> [class*="col"] { padding-left: 20px; padding-right: 20px; }
		}
		&.row-large { margin-left: -30px; margin-right: -30px;
			> [class*="col"] { padding-left: 30px; padding-right: 30px; }
		}
	}

	&.row-small { margin-left: -10px; margin-right: -10px;
		> [class*="col"] { padding-left: 10px; padding-right: 10px; }
	}
}

.wave-avocado-green { position: relative; padding-top: 110px; padding-bottom: 10px; margin-top: 140px; margin-bottom: 270px !important; background-color: $coAvocadoGreen;
	&:before, &:after { content: ''; display: block; position: absolute; background-repeat: no-repeat; background-position: 50% 50%; background-size: 100% 100%; }
	&:before { bottom: 100%; left: 0; width: 100%; height: 212px; background-image: url('../img/bg_avocado_green_top.png'); }
	&:after { top: 100%; left: 0; width: 100%; height: 353px; background-image: url('../img/bg_avocado_green_bottom.png'); }

	> .container-fluid {
		&:last-child { margin-bottom: 0 !important; }
	}

	@media (max-width: 1280px) {
		&:after { height: 300px; }
	}

	@include breakpoint(desktop) { margin-bottom: 200px !important;
		&:after { height: 200px; }
	}

	@include breakpoint(tablet) { padding-top: 50px; margin-bottom: 100px !important;
		&:before, &:after { background-size: 150% 100%; }
		&:after { height: 100px; background-position: left center; }
	}
	@include breakpoint(mobile) { margin-top: 80px; padding-top: 30px;
		&:before { height: 106px; }
	}
}

.com_anim-keyframe { --offset: 0; transform: translate3d(0,var(--offset),0); }

.com_aspect-ratio { position: relative; }

.com_link-cover { z-index: 500; position: fixed; top: 50%; left: 50%; width: 0; height: 0; border-radius: 100%; background-color: $coBlueSky; transform: translate3d(-50%,-50%,0); }

.com_floating-content { margin-left: auto; margin-right: auto; @extend .bp-img, .bp-img.wide;
	.com_aspect-ratio { margin-left: auto; margin-right: auto; }

	// @include breakpoint(mobile) { margin-left: -15px; margin-right: -15px; }
}

.com_floating-item { position: relative; --pull-top: -15px; --push-bottom: 15px; animation: float 8s ease-in-out infinite forwards; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; @extend .bp-img, .bp-img.wide;
	&.bp-ab { position: absolute; width: 100%; height: 100%; }

	img { pointer-events: none; }
}

.com_banner-content { position: relative; @extend .com_floating-content;
	a {
		&.bp-ab { display: block; top: 0; left: 9%; width: 40%; height: 20%;
			// outline: 1px dotted red;
		}
	}
}
a.com_banner-content { display: block; transition: none; }

.com_banner-item { position: relative; @extend .bp-img, .bp-img.wide;
	&.bp-ab { position: absolute; width: 100%; height: 100%; }

	img { pointer-events: none; }
}

.com_parallax-item { --x: 0; --y: 0; transform: translate3d(var(--x),var(--y),0); @extend .com_banner-item;
	&[class*="par-item"] { transition: width 0.2s;
		&:hover, &.on-hover { z-index: 3;
			&.par-item-one { width: calc(35.87% + 20px) !important; }
			&.par-item-two { width: calc(55.97% + 20px) !important; }
			&.par-item-three { width: calc(44.19% + 20px) !important; }
			&.par-item-four { width: calc(40.90% + 20px) !important; }
			&.par-item-five { width: calc(31.71% + 20px) !important; }
			&.par-item-six { width: calc(50.77% + 20px) !important; }
			&.par-item-seven { width: calc(43.15% + 20px) !important; }

			&.par-item-eight { width: calc(40.54% + 20px) !important; }
			&.par-item-nine { width: calc(49.70% + 20px) !important; }
			&.par-item-ten { width: calc(35.86% + 20px) !important; }
			&.par-item-eleven { width: calc(48.53% + 20px) !important; }
			&.par-item-twelve { width: calc(46% + 20px) !important; }
			&.par-item-thirteen { width: calc(50.68% + 20px) !important; }
			&.par-item-fourteen { width: calc(46.39% + 20px) !important; }
			&.par-item-fifteen { width: calc(52.04% + 20px) !important; }
		}
	}
}

@keyframes float {
	0%, 100% { transform: translate3d(0,var(--push-bottom),0); }
	50% { transform: translate3d(0,var(--pull-top),0); }
}

.com_olive-tree-main { position: relative;
	&:not([class*="bg-"]) { background-color: $coWhite; }
}
.com_olive-tree-bottom { z-index: 10; position: relative; min-height: 866px; padding-top: 200px; padding-bottom: 350px; background-image: url('../img/bg_bottom_mountain.png?v=2021080601'); background-repeat: repeat-x; background-position: bottom center;
	&:after { content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 190px; background: url('../img/bg_school_equipments.png') no-repeat bottom center; }

	@include breakpoint(tablet) { background-size: calc(2880px - 10%) auto;
		&:after { background-size: auto 90%; }
	}

	@include breakpoint(phablet) { padding-bottom: 250px; background-size: auto 700px;
		&:after { background-size: auto 146px; }
	}

	@include breakpoint(mobile) { background-size: auto 650px;
		&:after { background-size: auto 131px; }
	}
}

.com_olive-tree-bg { position: absolute; --top: 0px; --top-adjacent: 0px; --offset: 0; --left: -50%; top: calc(var(--top) + var(--top-adjacent)); left: 50%; width: 100%; max-width: 1440px; transform: translate3d(-50%,0,0);
	&:before { content: ''; display: block; position: absolute; left: 0; height: 100%; transform: translate3d(var(--left),var(--offset),0); background-size: 100% 100%; @extend .com_banner; }

	&.bg-one { --top-adjacent: 100px; height: 1183px;
		&:before { top: 0; left: calc(50% - 380px); width: 2060px; height: 1213px; background-image: url('../img/bg_cloud_one.png'); }

		@include breakpoint(desktop) {
			&:before { left: calc(50% - 300px); }
		}
		@include breakpoint(tablet) {
			&:before { width: 1500px; height: 883px; }
		}
		@include breakpoint(tablet2) { --top-adjacent: 200px;
			&:before { left: calc(50% + 100px); }
		}
		@include breakpoint(mobile) { --top-adjacent: 180px;
			&:before { width: 900px; height: 530px; }
		}
	}

	&.bg-two { --top-adjacent: calc(var(--top) + 555px);
		&:before { left: -100px; width: 597px; height: 555px; background-image: url('../img/bg_cloud_three.png'); }

		@include breakpoint(tablet) {
			&:before { left: -80px; width: 400px; height: 372px; }
		}
		@include breakpoint(phablet) { display: none; }
	}

	&.bg-three { --top-adjacent: 150px;
		&:before { left: calc(100% + 300px); width: 1012px; height: 941px; background-image: url('../img/bg_cloud_three.png'); }

		@include breakpoint(tablet) {
			&:before { left: calc(100% + 300px); width: 800px; height: 744px; }
		}

		@include breakpoint(mobile) { display: none; }
	}

	&.bg-four { --top-adjacent: calc(35% - 941px);
		&:before { left: calc(-1012px + 100px); width: 1012px; height: 941px; background-image: url('../img/bg_cloud_three.png'); }

		@include breakpoint(tablet2) { display: none; }
	}

	&.bg-five {
		&:before { top: -100px; left: calc(50% + 300px); width: 1316px; height: 693px; background-image: url('../img/bg_cloud_four.png'); }

		@include breakpoint(desktop) {
			&:before { top: -150px; left: calc(50% + 320px); }
		}
		@include breakpoint(tablet) {
			&:before { top: -200px; left: calc(50% + 350px); }
		}
		@include breakpoint(tablet2) {
			&:before { top: -100px; left: 50%; width: 1650px; height: 820px; }
		}
		@include breakpoint(mobile) {
			&:before { width: 1177px; height: 620px; }
		}
	}

	&.bg-six { --top-adjacent: -200px;
		&:before { top: -50px; left: 85px; width: 885px; height: 741px; background-image: url('../img/bg_cloud_five.png'); }

		@media (max-width: 1300px) {
			&:before { top: -80px; }
		}

		@include breakpoint(desktop) {
			&:before { top: 35px; width: 640px; height: 536px; }
		}
		@include breakpoint(tablet) { --top-adjacent: -50px;
			&:before { top: -50px; width: 480px; height: 402px; }
		}

		@include breakpoint(tablet2) { --top-adjacent: -200px;
			&:before { width: 110%; height: auto; padding-bottom: 100%; }
		}

		@include breakpoint(mobile) { --top-adjacent: -50px;
			&:before { left: 15px; width: 160%; padding-bottom: 120%; }
		}
	}

	&.bg-seven { --top-adjacent: -380px;
		&:before { left: calc(50% - 815px); width: 1150px; height: 1074px; background-image: url('../img/bg_cloud_three.png'); }

		@include breakpoint(tablet) {
			&:before { left: calc(50% - 750px); }
		}

		@include breakpoint(tablet2) { display: none; }
	}

	&.bg-eight { --top-adjacent: -50px;
		&:before { left: calc(50% + 750px); width: 1019px; height: 800px; background-image: url('../img/bg_cloud_three.png'); }

		@include breakpoint(tablet) {
			&:before { left: calc(50% + 600px); }
		}

		@include breakpoint(tablet2) { display: none; }
	}

	&.bg-nine { --top-adjacent: -450px;
		&:before { left: calc(50% - 1000px); width: 1012px; height: 941px; background-image: url('../img/bg_cloud_three.png'); }

		@include breakpoint(desktop) {
			&:before { left: calc(50% - 800px); }
		}

		@include breakpoint(tablet) { display: none; }
	}

	&.bg-ten { --top-adjacent: -100px;
		&:before { left: calc(50% + 625px); width: 1128px; height: 1199px; background-image: url('../img/bg_cloud_six.png'); }

		@include breakpoint(tablet) {
			&:before { left: calc(100% + 70px); width: 900px; height: 957px; }
		}
		@include breakpoint(tablet2) { --top-adjacent: 50px;
			&:before { left: 80%; width: 130%; height: auto; padding-bottom: 120%; }
		}
		@include breakpoint(phablet) {
			--top-adjacent: 150px;
		}
		@include breakpoint(mobile) {
			&:before { left: calc(70% + 15px); width: 140%; padding-bottom: 130%; }
		}
	}

	&.bg-eleven { --top-adjacent: 0px;
		&:before { top: -100px; left: calc(50% + 560px); width: 1377px; height: 733px; background-image: url('../img/bg_cloud_seven.png'); }

		@include breakpoint(tablet2) {
			&:before { left: 60%; }
		}
		@include breakpoint(phablet) {
			&:before { left: 75%; width: 1127px; height: 600px; }
		}
		@include breakpoint(mobile) {
			&:before { left: 85%; }
		}
	}

	&.bg-twelve { --top-adjacent: -300px;
		&:before { left: calc(50% - 920px); width: 924px; height: 753px; background-image: url('../img/bg_cloud_eight.png'); }

		@include breakpoint(mobile) { display: none; }
	}

	&.bg-thirteen { --top-adjacent: -280px;
		&:before { left: 0; width: 597px; height: 555px; background-image: url('../img/bg_cloud_two.png'); }
	}

	&.bg-fourteen { --top-adjacent: -50px;
		&:before { left: calc(100% + 320px); width: 924px; height: 753px; background-image: url('../img/bg_cloud_three.png'); }

		@include breakpoint(tablet) { --top-adjacent: 100px;
			&:before { left: calc(100% + 220px); width: 800px; height: 652px; }
		}

		@include breakpoint(mobile) { display: none; }
	}

	&.bg-fifteen { --top-adjacent: -200px; --left: 0; max-width: 100%;
		&:before { top: -100px; left: 0; width: 100%; height: 598px; background-image: url('../img/bg_cloud_ten.png'); background-size: cover; }

		@include breakpoint(phablet) {
			&:before { top: -115px; height: 610px; }
		}
	}

	&.bg-sixteen { --top-adjacent: 50px;
		&:before { left: calc(50% - 700px); width: 552px; height: 943px; background-image: url('../img/bg_cloud_eleven.png'); }

		@include breakpoint(desktop) { --top-adjacent: 180px;
			&:before { left: calc(50% - 450px); }
		}

		@include breakpoint(mobile) { --top-adjacent: 400px;
			&:before { left: calc(50% - 250px); }
		}
	}

	&.bg-seventeen { --top-adjacent: 50px;
		&:before { left: calc(50% + 900px); width: 696px; height: 696px; background-image: url('../img/bg_cloud_twelve.png'); }

		@include breakpoint(desktop) {
			&:before { left: calc(50% + 700px); }
		}

		@include breakpoint(mobile) { display: none; }
	}
}

// for carousels
.com_owl-carousel {
	&.owl-carousel {
		.owl-nav {
			button {
				&.disabled { opacity: 0; pointer-events: none; }
			}
		}
	}
}

.nav-1 {
	&.owl-carousel {
		.owl-nav {
			button { position: absolute; top: 50%; padding: 15px 20px !important; color: $coGrey1; outline: none !important; box-shadow: none !important; transform: translate3d(0,-50%,0);
				&:before { content: ''; display: block; font-family: $FontAwesome; font-size: 30px; }

				&.owl-prev { right: 100%;
					&:before { content: '\f104'; }
				}
				&.owl-next { left: 100%;
					&:before { content: '\f105'; }
				}
			}
		}

		@media (max-width: 1300px) { max-width: calc(100% - 70px); margin-left: auto; margin-right: auto; }
		@include breakpoint(tablet2) { max-width: calc(100% - 60px);
			.owl-stage-outer { overflow: visible !important; }
		}

		@include breakpoint(mobile) { max-width: calc(100% - 50px); }
	}
}

.text-white {
	.nav-1.owl-carousel .owl-nav button { color: $coWhite; }
}

.car-1 {
	&.owl-carousel {
		.owl-dots { padding-top: 35px; text-align: center; counter-reset: dots; }

		.owl-dot { width: 35px; height: 35px; margin: 0 5px; background-color: $coWhite; color: $coOrange; border-radius: 5px; font-weight: bold; outline: none !important; box-shadow: none !important;
			&:before { counter-increment:dots; content: counter(dots); }

			&.active { background-color: $coOrange; color: $coWhite; }

			&:hover { background-color: $coGrassGreen; color: $coWhite;
				&.active { background-color: $coOrange; color: $coWhite; }
			}
		}
	}
}

.com_list-hover-indicator { z-index: 0 !important; position: absolute !important; pointer-events: none; }

[class*="list-"] {
	&.list-2 { display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px;
		> li { flex: 0 0 50%; max-width: 50%; padding-left: 15px; padding-right: 15px; }

		@include breakpoint(tablet2) { display: block; margin-left: 0; margin-right: 0;
			> li { flex: 0 0 100%; max-width: inherit; padding-left: 0; padding-right: 0; }
		}
	}
}

.list-tick { font-size: 14px; line-height: 1.6;
	> li { display: flex; margin-bottom: 18px; padding-top: 12px;
		&:last-child { margin-bottom: 0; }

		&:before { content: ''; display: inline-block; width: 44px; min-width: 44px; height: 44px; margin-top: -12px; margin-right: 26px; background-image: url('../img/icon_thick.png'); background-repeat: no-repeat; background-position: 0 0; background-size: 100% 100%; }

		@include breakpoint(mobile) {
			&:before { width: 40px; min-width: 40px; height: 40px; margin-right: 20px; }
		}
	}

	&.tick-orange {
		> li {
			&:before { background-image: url('../img/icon_thick_orange.png'); }
		}
	}
}

.list-tick-2 {
	> li { display: flex; margin-bottom: 12px;
		&:last-child { margin-bottom: 0; }

		&:before { content: '\f00c'; display: inline-block; min-width: 40px; font-family: $FontAwesome; color: $coOrange; font-weight: bold; }
	}
}

.com_accordion {
	.com_accordion-content { display: none; }
}
.com_accordion-title { position: relative; cursor: pointer; }
.com_accordion-content { }

.com_tab-slider {
	.com_tab-slider-items { margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
	}

	.ta-sl-main, .com_tab-slider-nav { padding-top: 83px; }

	@include breakpoint(tablet2) {
		.com_tab-slider-title { padding-left: 35px;
			&:before { width: 20px; }
		}

		.com_tab-slider-content { padding-top: 10px; }

		.com_tab-slider-nav { padding-top: 0; }
	}

	@include breakpoint(mobile) {
		.ta-sl-main { padding-top: 45px; }
	}
}

.com_tab-slider-nav { }

.com_tab-slider-items {
	.com_tab-slider-content { display: none; }

	&:hover, &.active, &.selected {
		.com_tab-slider-title { color: $coOrange;
			&:before { opacity: 1; }
		}
	}
}

.com_tab-slider-title { position: relative; margin: 0; padding-left: 90px; font-weight: bold; cursor: pointer; color: $coGrey1; transition: color 0.3s; @extend h5;
	&:before { opacity: 0; content: ''; display: block; position: absolute; top: 0.5rem; left: 2px; width: 46px; height: 4px; background-color: $coOrange; transition: opacity 0.3s; }
}

.com_tab-slider-content { @extend .section-par; }

.com_tab-slider-main { z-index: 3; position: relative; min-height: 260px; padding: 30px; background-color: $coWhite; border-radius: 10px; box-shadow: 0 4px 12px rgba($coBlack, 0.08);
	@include breakpoint(mobile) { padding: 15px; }
}

.ta-sl-main { position: relative; padding-top: 45px;
	.ta-sl-center { z-index: 3; position: relative; max-width: calc(100% - 45px); }

	.ta-sl-bg-box { position: absolute; top: 0; right: 0; }

	&.main-v2 { padding-top: 0;
		@include breakpoint(tablet2) { margin-left: -15px; margin-right: -15px; padding-left: 15px; padding-right: 15px; padding-bottom: 20px; background-color: $coMossGreen;
			.ta-sl-center { max-width: inherit; }
		}
	}

	@include breakpoint(mobile) { padding-top: 15px;
		.ta-sl-center { max-width: calc(100% - 15px); }
	}
}

.ta-sl-bg-box { width: calc(100% - 60px); min-height: 234px; background-color: $coMossGreen; border-radius: 10px; background-repeat: no-repeat; background-position: top right;
	@include breakpoint(mobile) { background-size: 100px auto; }
}

.pr-se-banner-one {
	@include breakpoint(tablet2) { max-width: 256px; }
}

.com_select-box { position: relative;
	.com_select-box-list { opacity: 0; pointer-events: none; transform-origin: 50% 0; transform: scale(0.75); transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),opacity 0.15s ease-out; }

	&.com_select-box-default {
		.com_select-box-title { color: #B2B2B2; }
	}

	&.com_select-box-active {
		.com_select-box-list { opacity: 1; pointer-events: auto; transform: scale(1) translateY(0); }
	}
}
.com_select-box-title { position: relative; display: flex; align-items: center; height: 38px; padding: .375rem .75rem; padding-right: 10px + 15px; border: 1px solid $coMossGreen; border-radius: 5px; cursor: pointer;
	&:after { content: '\f107'; display: block; position: absolute; top: 50%; right: 10px; transform: translate3d(0,-50%,0); font-family: $FontAwesome; color: $coMossGreen; font-weight: bold; }
}
.com_select-box-list { z-index: 10; position: absolute; top: -2px; left: 0; width: 100%; border: 0px solid $defaultColor; border-radius: 5px; background-color: $coWhite; box-shadow: 0 3px 10px rgba($coBlack, 0.1); overflow: hidden;
	ul { position: relative; max-height: 400px; overflow: auto;
		li { padding: 8px 15px; cursor: pointer; transition: background 0.3s, color 0.3s;
			&:first-child { padding-top: 10px; }
			&:last-child { padding-bottom: 10px; }

			&:hover { background-color: $coMossGreen; color: $coWhite; }

			&.active { background-color: lighten($defaultColor, 50%); color: $defaultColor; cursor: default;
				&:hover { background-color: lighten($defaultColor, 50%); color: $defaultColor; }
			}
		}
	}
}

@include breakpoint(tablet2) {
	.bp-touch {
		.com_select-box {
			select { opacity: 0; z-index: 3; display: block !important; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
		}
	}
}

.com_testi-clouds { position: absolute; top: 0; left: 0; width: 100%; height: 100vh; }

.com_testi-clouds-item { position: absolute; top: 0; left: 0; --start-x: -50%; --end-x: 50%; animation: movingCloud 50s linear infinite; pointer-events: none; @extend .bp-img, .bp-img.wide;
	&.item-one { top: auto; bottom: 10%; left: 0%; width: 56%; max-width: 808px;
		@include breakpoint(tablet2) { bottom: -10%; }
		@include breakpoint(mobile) { bottom: -30%; width: 100%; }
	}
	&.item-two { top: 29%; left: 70%; width: 19.23%; max-width: 277px;
		@include breakpoint(tablet2) { top: 35%; left: 20%; width: 25%; }
		@include breakpoint(mobile) { width: 50%; }
	}
	&.item-three { top: 62%; left: 87%; width: 26.45%; max-width: 381px;
		@include breakpoint(tablet2) { top: 50%; width: 30%; }
		@include breakpoint(mobile) { width: 60%; }
	}

	&.item-four { top: 120vh; left: 70%; width: 56%; max-width: 808px;
		@include breakpoint(mobile) { width: 100%; }
	}
	&.item-five { top: 150vh; left: 0%; width: 19.23%; max-width: 277px;
		@include breakpoint(tablet2) { width: 25%; }
		@include breakpoint(mobile) { width: 50%; }
	}
	&.item-six { top: 180vh; left: 50%; width: 26.45%; max-width: 381px;
		@include breakpoint(tablet2) { width: 30%; }
		@include breakpoint(mobile) { width: 60%; }
	}

	&.item-seven { top: 200vh; left: 10%; width: 56%; max-width: 808px;
		@include breakpoint(mobile) { width: 100%; }
	}
	&.item-eight { top: 220vh; left: 3%; width: 19.23%; max-width: 277px;
		@include breakpoint(tablet2) { width: 25%; }
		@include breakpoint(mobile) { width: 50%; }
	}
	&.item-nine { top: 250vh; left: 50%; width: 26.45%; max-width: 381px;
		@include breakpoint(tablet2) { width: 30%; }
		@include breakpoint(mobile) { width: 60%; }
	}
}