.fancybox-slide {
	@include breakpoint(tablet) { padding: 15px; }
}

.fancybox-slide--html { padding: 15px;
	@include breakpoint(lg) { padding: 40px; }
}

.fancybox-content { padding: 40px;
	@include breakpoint(mobile) { padding: 30px 20px; }
}

.fancybox-close-small { font-size: 24px; transition: color 0.3s; outline: none !important;
	&:hover { color: $coOrange; }
}

.popup-width-1 { max-width: 810px; }