.in-pr-chart-content { position: relative; margin-top: 100px;
	.section-par { max-width: 470px; margin-left: auto; margin-right: auto; }	

	@include breakpoint(tablet) { margin-top: 50px; }
	@include breakpoint(tablet2) { margin-top: 0; }
}

.in-pr-chart-bg { position: absolute; top: 0; left: 0; width: 100%;
	@include breakpoint(tablet) { left: -25%; width: 150%; }
	@include breakpoint(phablet) { left: -50%; width: 200%; }
	@include breakpoint(mobile) { left: -75%; width: 250%; }
}
.in-pr-chart-main { z-index: 3; position: relative; padding-top: 88px;
	@include breakpoint(mobile) { padding-top: 70px; }
}

.com_in-pr-wheel {
	&.inview {
		.com_parallax-item {
			&:nth-child(1) { opacity: 0; transform: scale(0.5); }
			&:nth-child(2) { opacity: 0; transform: scale(0.5); }
			&:nth-child(3) { opacity: 0; transform: scale(0.5); }
		}

		&.visible {
			.com_parallax-item {
				&:nth-child(1) { animation: wheelZoom 0.8s 1.1s forwards; }
				&:nth-child(2) { animation: wheelZoom 0.8s 0.8s forwards; }
				&:nth-child(3) { animation: wheelZoom 0.8s 0.5s forwards; }
			}			
		}
	}
}

@keyframes wheelZoom {
	0% { opacity: 0; transform: scale(0.5); }
	100% { opacity: 1; transform: scale(1); }
}

.in-pr-dal-list {
	> li { }

	&.list-3 {
		> li { display: inline-block; vertical-align: top; width: 33.33%; }
	}
}

.ip-da-box { padding: 15px; background-color: $coWhite; border-radius: 15px; text-align: center; box-shadow: 0 4px 12px rgba($coBlack, 0.08); transition: box-shadow 0.5s;
	&:hover { box-shadow: 0 4px 20px rgba($coBlack, 0.1); }

	.id-bo-col { 
		&:not([class*="mb"]) { margin-bottom: 10px; }
		&:last-child { margin-bottom: 0; }
	}

	@include breakpoint(mobile) {
		// min-height: 0 !important;
		[class*="gh"] { min-height: 0 !important; }
	}

	
	&.box-v2 {
		@media (min-width: 576px) { display: flex; align-items: center; padding: 20px; text-align: left;
			.id-bo-col { margin-bottom: 0; margin-right: 15px;
				&:last-child { margin-right: 0; }

				&.col-img { min-width: 124px; max-width: 124px; margin-top: 0; }
			}
		}
	}

	&.box-v3 { padding-top: 30px; padding-bottom: 30px; }
}

.id-bo-col {
	&.col-img { margin-top: -47px; }
}

.in-pr-oip-box { padding: 60px; background-color: $coAvocadoGreen;
	@include breakpoint(tablet2) { padding: 40px 15px; }
}

.container-fluid {
	.in-pr-oip-box {
		@include breakpoint(tablet2) { margin-left: -15px; margin-right: -15px; }
	}
}

.ip-oip-list {
	&.list-4 { display: flex; flex-flow: wrap; margin-left: -10px; margin-right: -10px;
		> li { flex: 0 0 25%; max-width: 25%; margin-bottom: 20px; padding-left: 10px; padding-right: 10px; }

		@include breakpoint(laptop) {
			> li { flex: 0 0 50%; max-width: 50%; }
		}

		@include breakpoint(mobile) {
			> li { flex: 0 0 100%; max-width: 100%; }
		}
	}
}

.in-pr-sch-box { position: relative; margin-top: 50px; padding: 40px; padding-top: 70px !important; background-color: $coAvocadoGreen; border-radius: 20px; box-shadow: 10px 15px 0 rgba($coDarkGreen, 1); color: #4b6469;
	@include breakpoint(tablet) { padding: 20px; }
	@include breakpoint(mobile) { padding-top: 50px !important; }
}
.ip-sch-col {
	&.col-title { position: absolute; top: 0; left: 50%; width: 398px; max-width: calc(100% - 30px); padding: 20px; border-radius: 10px; background-color: $coAvocadoGreen; background-repeat: no-repeat; background-size: cover; box-shadow: 0 4px 5px rgba($coBlack, 0.15); text-align: center; transform: translate3d(-50%,-50%,0);
		> * {
			&:last-child { margin-bottom: 0; }
		}
	}

	@include breakpoint(mobile) {
		&.col-title {
			h2 { font-size: 24px; }
		}
		.caption-large { font-size: 18px; }
	}
}
.ip-sch-list {
	> li { margin-bottom: 30px; padding: 5px 0; border-bottom: 2px solid rgba($coBlack, 0.2);
		&:last-child { margin-bottom: 0; }

		&.d-flex { justify-content: space-between; }
	}

	@include breakpoint(mobile) {
		> li { margin-bottom: 15px; }
	}
}

.theme {
	&.theme-blue {
		.in-pr-sch-box { background-color: #bbe1e8; box-shadow: 10px 15px 0 rgba(#4b6469, 1); }
		.ip-sch-col {
			&.col-title { background-color: #d8f9ff; background-image: url('../img/sch_box_bg_blue.png'); }
		}
	}
	&.theme-green {
		.in-pr-sch-box { background-color: $coAvocadoGreen; }

		.ip-sch-col {
			&.col-title { background-color: #fcfee9; background-image: url('../img/sch_box_bg_green.png'); }
		}
	}
}