.re-bl-list {
	&.list-2 { display: flex; flex-flow: wrap; margin-bottom: -60px; margin-left: -15px; margin-right: -15px;
		> li { flex: 0 0 50%; max-width: 50%; margin-bottom: 60px; padding-left: 15px; padding-right: 15px; }

		@include breakpoint(phablet) { margin-bottom: -30px;
			> li { flex: 0 0 100%; max-width: 100%; margin-bottom: 30px; }
		}
	}
}

.re-bl-set { display: block; position: relative; color: inherit; background-color: $coWhite; box-shadow: 0 4px 12px rgba($coBlack, 0.08); border-radius: 10px; transition: box-shadow 0.5s;
	&:hover { color: inherit; box-shadow: 0 5px 20px rgba($coBlack, 0.12); }

	> * {
		&:first-child { border-radius: 10px 10px 0 0; }
	}
}

.re-bl-par { padding: 10px 25px; }
.re-bl-capt { color: $coGreenLeaf; }

.re-bl-box { padding: 34px; background-color: $coWhite; border-radius: 15px; box-shadow: 0 4px 12px rgba($coBlack, 0.08);
	@include breakpoint(tablet2) { padding: 18px 15px; }
}

.re-bl-banner { position: relative; box-shadow: 0 4px 12px rgba($coBlack, 0.08); border-radius: 10px; overflow: hidden; @extend .bp-img, .bp-img.wide;
	img { border-radius: 10px; }
}