.page-therapy-services, .page-inner {
	.com_olive-tree-bottom { min-height: 585px; padding-bottom: 430px; background-image: url('../img/bg_bottom_mountain_v2.png?v=2021080601');
		@include breakpoint(phablet) { padding-bottom: 320px; background-size: auto 500px; }
		@include breakpoint(mobile) { background-size: auto 440px; }
	}
}

.th-se-bottom-content { position: relative; padding-top: 160px !important; padding-bottom: 160px !important; background-color: $coAvocadoGreen;
	&:before, &:after { content: ''; display: block; position: absolute; left: 0; width: 100%; height: 115px; background-position: center; background-repeat: repeat-x; pointer-events: none; }
	&:before { top: 0; background-image: url('../img/pattern_cloud_top.png'); }
	&:after { bottom: 0; background-image: url('../img/pattern_cloud_bottom.png'); }

	@include breakpoint(tablet2) { padding-top: 130px !important; padding-bottom: 150px !important; }
}

.th-se-acc {
	.com_accordion-set { position: relative; min-height: 116px; margin-bottom: 35px; padding: 34px 40px 34px 140px; background-color: $coWhite; border-radius: 15px; box-shadow: 0 4px 12px rgba($coBlack, 0.08); transition: padding 0.3s, box-shadow 0.3s;
		&:last-child { margin-bottom: 0; }

		&:hover { box-shadow: 0 5px 20px rgba($coBlack, 0.12); }

		.com_accordion-title { position: relative; margin: 0; padding: 10px 37px 10px 0; color: $coMossGreen; @extend h4;
			&:after { content: '\f105'; display: block; position: absolute; top: 50%; right: 0; font-family: $FontAwesome; transform: translate3d(0,-50%,0) rotate(0deg); transition: transform 0.3s; }
		}

		// .com_accordion-content { padding-right: 37px; }

		.ts-acc-icon { position: absolute; top: 15px; left: 40px; max-width: 80px; transition: top 0.3s; }

		&.selected { padding-top: 30px; padding-bottom: 40px;
			.ts-acc-icon { top: 40px; }

			.com_accordion-title {
				&:after  { transform: translate3d(0,-50%,0) rotate(90deg); }
			}
		}
	}

	@include breakpoint(tablet2) {
		.com_accordion-set { min-height: 0; padding: 18px 15px 18px calc(15px + 40px + 15px);
			.ts-acc-icon { left: 15px; min-width: 40px; max-width: 40px; }

			&.selected { padding-top: 10px; padding-bottom: 20px;
				.ts-acc-icon { top: 20px; }
			}
		}
	}

	@include breakpoint(mobile) {
		.com_accordion-set { margin-bottom: 24px; padding: 15px;
			.com_accordion-title { padding: calc(50px + 15px) 0 5px 0;
				&:after { top: 15px; }
			}

			&.selected { padding-top: 15px; padding-bottom: 15px;
				.ts-acc-icon { top: 15px; }
			}
		}
	}
}

.th-se-map { background-image: url('../img/therapy-services/banner_therapy_services_one_a.png'); background-repeat: no-repeat; background-position: top center;
	.com_banner-content { min-height: 1482px; }

	@include breakpoint(tablet2) { margin-top: 30px;
		.com_banner-content { min-height: 0; }
	}
}

.th-se-pin { z-index: 3; position: relative; width: 50px; height: 66px;
	&:before, &:after { content: ''; display: block; position: absolute; transition: transform 0.5s; }
	&:before { z-index: 2; width: 100%; height: 100%; background: url('../img/therapy-services/icon_pin.png') no-repeat center; background-size: 100% 100%; }
	&:after { bottom: -6.06%; left: 50%; width: 70.37%; height: 14.78%; background-color: rgba(#d4d4d4, 0.8); border-radius: 50%; transform: translate3d(-50%,0,0); }

	&.active, &:hover {
		&:before { transform: translate3d(0,-33%,0); }
		&:after { transform: translate3d(-50%,0,0) scale(0.85); }
	}

	&.pin-large { width: 108px; height: 142px;
		+ .th-se-blurb { bottom: 20px; left: calc(50% + 25px); padding-left: 35px;
			@include breakpoint(tablet2) { padding-left: 70px; }
		}
	}

	@include breakpoint(tablet2) { width: 40px; height: 53px;
		&.pin-large { width: 80px; height: 106px; }
	}
}

.th-se-blurb { position: absolute; bottom: 12px; left: 50%; width: 267px; padding: 20px; padding-left: 30px; background-color: #e8ecc8; border-radius: 10px; @extend .section-par;
	h3 { display: inline; transition: all 0.5s ease;
		text-decoration: none;
		@include linear-gradient(transparent 1px,$coOrange 1px,$coOrange 5px,transparent 2px);
		background-size: 0% 3px;
		// background-position: left 0 bottom;
		background-position: 100% 100%;
		transition: color background-size 0.3s ease-in-out;
		background-repeat: no-repeat;
		padding-bottom: 2px;
		border-bottom: 3px solid transparent;
	}

	h6 { font-weight: normal; }

	&.blurb-right { left: auto; right: 50%; padding-left: 20px; padding-right: 27px; }

	&:hover {
		h3 { background-size: 100% 3px; }
	}

	@media (min-width: 768px) { min-height: 0 !important; }
	@include breakpoint(phablet) { min-height: 0 !important; }
}

.th-se-map-header {
	@include breakpoint(tablet2) { position: relative !important; min-height: 320px; padding-top: 50px; }
}

.th-se-map-pins {
	@include breakpoint(tablet2) { position: relative !important; display: flex; flex-flow: wrap; width: auto !important; margin-left: -15px; margin-right: -15px;
		> * { flex: 0 0 50%; max-width: 50%; padding-left: 15px; padding-right: 15px; margin-bottom: 24px; }
	}

	@include breakpoint(phablet) {
		> * { flex: 0 0 100%; max-width: 100%; }
	}
}

.th-se-map-item { position: absolute; top: 0; left: 0;
	// outline: 1px dashed red;
	a { display: flex; align-items: center; justify-content: center; margin: 0; color: inherit;
		&:hover { color: inherit;
			.th-se-pin { @extend .th-se-pin.active; }
		}
	}

	&.item-one { top: 26.7%; left: 58.91%; }
	&.item-two { top: 34.70%; left: 65.80%; }
	&.item-three { top: 37.58%; left: 34%; }
	&.item-four { top: 53.84%; left: 39.16%; }
	&.item-five { top: 60.65%; left: -1.09%; }
	&.item-six { top: 68%; left: 65%; }
	&.item-seven { top: 84.42%; left: 6.66%; }
	&.item-eight { top: 89.03%; left: 63.83%; }

	@include breakpoint(desktop) {
		&.item-three { left: 30%; }
		&.item-six { left: 68%; }
	}

	@include breakpoint(tablet) {
		&.item-two { left: calc(64.5% - 15px); }
		&.item-three { top: 45%; left: calc(29% + 15px); }
		&.item-four { top: 54.84%; }
		&.item-five { top: 65%; left: 0; }
		&.item-six { top: 76%; left: calc(64% - 15px); }
		&.item-seven { top: 89.42%; }
		&.item-eight { top: 96.03%; left: calc(57% - 15px); }
	}

	@include breakpoint(tablet2) { position: relative; top: 0 !important; left: 0 !important;
		.th-se-pin { position: absolute; bottom: 0; left: 15px; }

		.th-se-blurb { position: relative; bottom: 0 !important; left: 0 !important; width: auto; margin-left: 20px; margin-bottom: 12px; padding-left: 30px;
			&.blurb-right { left: 0; right: auto; }
		}
	}
}

.th-se-map-bus {
	@include breakpoint(tablet2) { position: relative !important; top: 0 !important; left: 0 !important; width: 100% !important; height: auto !important; margin-top: 20px; margin-bottom: -100px; text-align: center;
		img { display: inline-block; max-width: 300px; }
	}
}

.ps-as-banner-two {
	@include breakpoint(tablet2) { left: -15%; width: 140%; }
}

.te-th-banner-one {
	@include breakpoint(tablet2) { width: 75%; }
}

.te-th-banner-two {
	@include breakpoint(mobile) { width: calc(100% - 50px); }
}

.th-se-list { @extend .th-se-acc;
	.com_accordion-set { @extend .com_accordion-set.selected;
		.com_accordion-title { cursor: unset;
			&:after { display: none; }
		}
	}
}