// includes all tags for paragraphs and titles such as header, p, span
h1 { font-size: 40px; font-weight: bold; }
h2 { font-size: 30px; font-weight: bold; }
h3 { font-size: 28px; font-weight: bold; }
h4 { font-size: 23px; font-weight: bold; }
h5 { font-size: 20px; font-weight: normal; }
h6 { font-size: 14px; font-weight: bold; }

.fz-12 { font-size: 12px; }
.fz-14 { font-size: 14px; }
.fz-16 { font-size: 16px; }
.fz-18 { font-size: 18px; }
.fz-20 { font-size: 20px; }
.fz-24 { font-size: 24px; }

@include breakpoint(phablet) {
	.fz-16 { font-size: 14px; }
	.fz-18 { font-size: 16px; }
	.fz-20 { font-size: 18px; }
	.fz-24 { font-size: 22px; }
}

.section-title {
	&:not([class*="mb"]) { margin-bottom: 50px;
		// @include breakpoint(tablet2) { margin-bottom: 40px; }
	}

	> * {
		&:last-child { margin-bottom: 0 !important; }
	}

	h1, h2, h3 {
		&:not([class*="co-"]) { color: $coGrey1; }
	}
}

.section-par {
	h1, h2, h3, h4, h5 { color: $coGrey1;
		&:not([class*="mb"]) { margin-bottom: 24px;
			@include breakpoint(tablet2) { margin-bottom: 20px; }
		}
	}

	h3 {
		&:not([class*="co-"]) { color: $coOrange; }
	}

	> * { margin-bottom: 15px;
		&:last-child { margin-bottom: 0 !important; }
	}

	p { line-height: 1.8; }

	ul {
		&:not([class*="list"]) { margin-left: 20px;
			> li { list-style-type: disc; }
		}
	}

	ol {
		&:not([class*="list"]) { margin-left: 20px;
			> li { list-style-type: inherit; }
		}
	}
}

p {
	a {
		&:not([class*="link"]) { @extend .link, .link-underline; }
	}
}

.caption-small { font-size: 14px; }
.caption-large { @extend h4; }

.title-border {
	text-decoration: none;
	@include linear-gradient(transparent 1px, $coOrange 1px, $coOrange 7px,transparent 2px);
	background-size: 100% 7px;
	background-position: 100% 100%;
	transition: color background-size 0.3s ease-in-out;
	background-repeat: no-repeat;
	padding-bottom: 7px;
}
h2.title-border { line-height: 1.5; }