// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1200px; // can be use as max width of the container

// for fonts
$defaultFont: 'Montserrat', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'Montserrat', 'Helvetica', 'Calibri';
$FontAwesome: 'Font Awesome 5 Pro';

// for colors
$defaultColor     : #3e3e3e; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #3189DD; // default link color for the whole site
$coWhite          : #ffffff;
$coBlack          : #000000;

$coDarkGreen	  : #44492b;
$coMossGreen	  : #6d763d;
$coGrassGreen	  : #82a348;
$coGreenLeaf	  : #6f7840;
$coAvocadoGreen	  : #e7ebc8;
$coParadiseGreen  : #ccd385;

$coOrange   	  : #e89719;
$coPuffinsBill	  : #cd7631;
$coBrightYarrow	  : #d2a353;

$coGrey1     	  : #707070;

$coBlueSky     	  : #d2f2f8;

$coDupain     	  : #bfdde3;