{% set pageTitleMeta = 'About Us - Olive Tree Development Center' %}
{% set activePage = 'about-us' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid ab-section-one mb100 mob-mb0">
			<div class="container animate" data-animate="parent">
				<div class="row align-items-center animate" data-animate="child">
					<div class="col-md-6 mob-mb30">
						<div class="com_floating-content ab-us-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="304,385,maxWidth">
								<div class="com_floating-item">
									<img src="assets/img/about-us/banner_floating_land-one.png" alt="">
								</div>
								<div class="com_floating-item bp-ab" style="bottom: 1.29%; left: 35.19%; width: 46.38%; height: 13.50%; --pull-top: -17px; --push-bottom: 20px;">
									<img src="assets/img/about-us/banner_floating_land-two.png" alt="">
								</div>
								<div class="com_floating-item bp-ab" style="bottom: 0; left: 19.73%; width: 74.34%; height: 29.87%; --pull-top: -20px; --push-bottom: 19px;">
									<img src="assets/img/about-us/banner_floating_land-three.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section-par">
							<div class="section-title">
								<h1>About Us</h1>
							</div>
							<p>Olive Tree Development Centre provides therapy and educational services to children and adolescents of various needs and abilities. We are a team of dedeicated professionals that work towards the same goal - to transform learning and enrich lives in a way that is engaging, evidence-based and personalized</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid ab-section-two">
			<div class="container bp-rel animate" data-animate="parent">
				<div class="ab-co-box animate" data-animate="single">
					<div class="ac-bo-top">
						<img src="assets/img/about-us/banner_about_box.png" alt="">
					</div>
					<div class="ac-bo-main ab-co-par">
						<div class="section-title">
							<h1>Why Olive Tree?</h1>
						</div>
						<div class="section-par">
							<h3>We believe in your child.</h3>
							<p>In the Olive Tree logo, the tree represents a nurturing environment, while the two children at play symbolizes joy and social integration at home, school or community. The Star depicts their potential. We aim to reach out to these "twinkling stars" and draw out their talents and gifts to help them shine! </p>
						</div>
						<div class="section-par">
							<h3>We are based on solid science. </h3>
							<p>All our intervention programs and services are grounded on evidence-based practices. We are accredited by MSF (Ministry of Social &amp; Family Development) and Early Childhood Development Agency (ECDA) and well-recognized in many mainstream and special education institutions.</p>
						</div>
						<div class="section-par">
							<h3>We are dedicated.</h3>
							<p>As a team, we train constantly and better ourselves regularly to ensure that we provide quality service to each family, every time. Our passion to serve is not confined to the walls of our Center. OTDC extends its reach to the community, where we aim to create reefs of support for children and their families.</p>
						</div>
					</div>
					<div class="ac-bo-bg cloud-one"></div>
				</div>
				<div class="ab-co-falls animate" data-animate="single">
					<div class="com_banner com_aspect-ratio com_anim-keyframe" data-aspect-ratio="1393,1734" data-anim-keyframe='[{"4000":"-80"}]' style="background-image: url('assets/img/about-us/banner_water_falls.png')"></div>
				</div>
			</div>
		</div>
		<div id="meet-our-team" class="container-fluid ab-section-three">
			<div class="container width-2 animate" data-animate="parent">
				<div class="animate" data-animate="child">
					<div class="mb50 pb30">
						<div class="section-title mb20 mob-mb20 text-center">
							<h1>Meet Our Team</h1>
						</div>
						<ul class="ab-co-list list-2 animate" data-animate="child">
							<li>
								<a class="ac-li-set" data-fancybox href="#popup-team">
									<div class="al-se-img"><img src="assets/img/about-us/team_chiu_loo_kwong.png" alt=""></div>
									<div class="section-par">
										<h3>Chiu Loo Kwong</h3>
										<p>Director and Founder</p>
									</div>
								</a>
							</li>
							<li>
								<a class="ac-li-set" data-fancybox href="#popup-team">
									<div class="al-se-img"><img src="assets/img/about-us/team_dr_tan_siew_pin.png" alt=""></div>
									<div class="section-par">
										<h3>Dr Tan Siew Pin</h3>
										<p>Clinical Director &amp; Paediatrician</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="mb50 pb30">
						<div class="section-title mb20 mob-mb20 text-center">
							<h2>Psychologist</h2>
						</div>
						<ul class="ab-co-list list-2 animate" data-animate="child">
							<li>
								<a class="ac-li-set" data-fancybox href="#popup-team">
									<div class="al-se-img"><img src="assets/img/about-us/team_dummy.png" alt=""></div>
									<div class="section-par">
										<h3>Adeline Chin</h3>
										<p>Senior Educational Psychologist</p>
									</div>
								</a>
							</li>
							<li>
								<a class="ac-li-set" data-fancybox href="#popup-team">
									<div class="al-se-img"><img src="assets/img/about-us/team_karina_chai.png" alt=""></div>
									<div class="section-par">
										<h3>Karina Chai</h3>
										<p>Consultant Educational Psychologist</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="mb50 pb30">
						<div class="section-title mb20 text-center">
							<h2>Multidiciplinary Therapists</h2>
						</div>
						<ul class="ab-co-list list-2 animate" data-animate="child">
							<li>
								<a class="ac-li-set" data-fancybox href="#popup-team">
									<div class="al-se-img"><img src="assets/img/about-us/team_joy_chavez.png" alt=""></div>
									<div class="section-par">
										<h3>Joy Chavez</h3>
										<p>Senior Occupational Therapist</p>
									</div>
								</a>
							</li>
							<li>
								<a class="ac-li-set" data-fancybox href="#popup-team">
									<div class="al-se-img"><img src="assets/img/about-us/team_nurul_ain.png" alt=""></div>
									<div class="section-par">
										<h3>Nurul 'Ain</h3>
										<p>Speech Therapist</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="mt80 mb50 text-center">
						<a class="button button-primary btn-border link-animate" href="#">View All</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-one com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="ab-section-one"></div>
	<div class="com_olive-tree-bg bg-two com_anim-keyframe" data-anim-keyframe='[{"4000":"-150"}]' data-bg-dependent="ab-section-two"></div>
	<div class="com_olive-tree-bg bg-three com_anim-keyframe" data-anim-keyframe='[{"4000":"-150"}]' data-bg-dependent="ab-section-three"></div>
	<div class="com_olive-tree-bg bg-four com_anim-keyframe" data-anim-keyframe='[{"4000":"-150"}]' data-bg-dependent="ab-section-three"></div>
</div>
{% endblock %}

{% block popup %}
<div style="display: none;">
	<div id="popup-team" class="popup-content popup-width-1">
		<div class="ac-li-set section-title">
			<div class="al-se-img"><img src="assets/img/about-us/team_chiu_loo_kwong.png" alt=""></div>
			<div class="section-par">
				<h3>Chiu Loo Kwong</h3>
				<p>Director and Founder</p>
			</div>
		</div>
		<div class="section-par">
			<p>Chiu Loo Kwong is the founder of OTDC and OTEC. Moved by unmet needs and the gaps in the healthcare and education system, he gathered people with a heart to help special needs families, focusing on evidence-based intervention approaches, new developments, and healthcare delivery models. He established the 1st Music Therapy Center in Singapore in 2011, OTDC that focuses on a range of Multi-Disciplinary Intervention</p>
			<p>
				<i>"Our Mission is to reach communities and the needy. We are privileged to have a great team of professionals and volunteers to support our mission – to deliver affordable services and to help families find rest, hope and joy on their journey."</i> <br>
				– Loo Kwong
			</p>
		</div>
	</div>
</div>
{% endblock %}