{% set pageTitleMeta = 'Art Therapy - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 mob-pt30 animate" data-animate="parent">
			<div class="container">
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb30">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="554,582,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 0; left: 0; width: 91.69%; height: 22.50%;">
									<img src="assets/img/therapy-services/banner_art_therapy_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 22.16%; left: 0; width: 93.68%">
									<img src="assets/img/therapy-services/banner_art_therapy_one_b.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="15" style="top: 16.32%; left: 12.45%; width: 65.52%">
									<img src="assets/img/therapy-services/banner_art_therapy_one_c.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Art Therapy (AT)</h1>
									<p>An evidence-based treatment, Art Therapy is a type of psychotherapy that uses art making as the main form of expression and communication.</p>
									<div class="mt-5">
										<h5 class="mb-3">Process</h5>
										<div class="bp-img"><img src="assets/img/therapy-services/banner_art_therapy_process.png" alt=""></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-par">
					<h1>What is Art Therapy?</h1>
					<p>We know that it can sometimes be hard to talk about things that we – or the people we care for – are struggling with. Art Therapy provides a safe space to explore one's thoughts, feelings and experiences in therapy, without having to find the ‘right' words.</p>
					<p>A person does not need to be good at art to use <a href="#">Art Therapy</a>, as long as they are open to using art materials to express themselves. Although sessions may be enjoyable, it will not be an art class, nor will one's artwork be interpreted or diagnosed. Instead, the aim is for the person and the trained psychotherapist to work together, using both the artworks and discussions created in therapy, to explore what is happening for the person.</p>
					<p>Art Therapists hold a postgraduate master's certification in the field, and often also have a background in visual arts or working with vulnerable people. This gives them extensive training in using both psychotherapeutic knowledge and the visual language in the therapy room.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-par">
					<h1>How can Art Therapy help?</h1>
					<p>The goal of Art Therapy is to provide a safe space to explore one's issues or struggles using a range of art materials, such as paint, collage or clay.</p>
					<p>The Art Therapy sessions can be adjusted to meet different individual's needs and goals. Do speak to with your Art Therapist about what sort of difficulties you, or your loved one, may need support with.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt0 mb100 mob-mb0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-par text-center">
					<h2>Intervention</h2>
					<p>Physiotherapy intervention uses evidenced-based approaches to teach children to engage in the environment given their physical limitations, achieve their maximum potential and actively participate in play and other childhood activities.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="container width-3 section-title text-center">
					<h3>We provide the following types of intervention in our Physiotherapy program:</h3>
				</div>
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Neuro-Developmental Treatment (NDT)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Neuro-Developmental Treatment (NDT) Techniques, a group of functional treatment approaches based on the principles of neuroplasticity</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Gait Training</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Hands-on facilitation technique for developing movement pattern</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Postural awareness exercises</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Manual Therapy to manipulate soft tissue and joint</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of therapeutic modality </div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of strengthening exercise (functional and progressive resistive exercises)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of therapeutic modality</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of strengthening exercise (functional and progressive resistive exercises)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Specialist stretching exercises for the child's condition</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Assessment and recommendation for assistive and adaptive devices needed, such as splints or walking aid</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mb-0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-par">
					<h1>Who is Art Therapy for?</h1>
					<p>Art therapy can be used with a wide range of ages, and conditions, as long as the person is open to using art materials to express themselves.  No previous experience or skill in art making is required.</p>
					<p>It can be especially useful for people who find it difficult to talk about what they are thinking, feeling or experiencing, and who may find it easier to work visually. This includes those on the autistic spectrum.</p>
					<p>Art therapists commonly work with children, young people, adults and the elderly in a variety of settings, such as schools, prisons, hospices, and hospitals. These clients may have a wide range of difficulties, disabilities or diagnoses, including emotional, behavioural or mental health problems, learning or physical disabilities, life-limiting conditions, neurological conditions and physical illnesses.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-eleven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
</div>
{% endblock %}