{% set pageTitleMeta = 'Blog - Olive Tree Development Center' %}
{% set activePage = 'blog' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid mb-0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h1>Our Upcoming Events</h1>
				</div>
				<div>
					<ul class="re-bl-list list-2 group-height links-animate animate" data-animate="child">
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog1.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog2.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog3.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog4.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog1.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog2.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
					</ul>
					<div class="text-center pt20 mt50 mob-mt50">
						<a class="button button-primary button-width-4" href="#">See more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-sixteen com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-seventeen com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
</div>
{% endblock %}