{% set pageTitleMeta = 'Blog details - Olive Tree Development Center' %}
{% set activePage = 'blog' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main bg-dupain">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt50 mb-0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="re-bl-box">
					<div class="container width-5">
						<div class="section-title mb30 mob-mb30 text-center">
							<h2>Lorem ipsum dolor sit amet con adipisicing elit</h2>
							<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
						</div>
						<div class="re-bl-banner mt30 mb50">
							<img src="assets/img/resources/banner_blog1_big.jpg" alt="">
						</div>
						<div class="container width-6">
							<div class="section-par">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
								<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
							</div>
							<div class="mt100 mob-mt50 mb50">
								<a class="button button-primary button-width-4 link-animate" href="blog.html">Back to Listings</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-fifteen com_anim-keyframe" data-anim-keyframe='[{"4000":"-200"}]' data-bg-dependent="com_olive-tree-bottom"></div>
</div>
{% endblock %}