{% set pageTitleMeta = 'Cognitive Behavior Therapy - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container">
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb30">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="519,556,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 11.15%; left: 0%; width: 100%; height: 77.87%;">
									<img src="assets/img/therapy-services/banner_cognitive_behavior_therapy_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 0; left: 10.78%; width: 61.65%; height: 100%;">
									<img src="assets/img/therapy-services/banner_cognitive_behavior_therapy_one_b.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="15" style="top: -8.81%; left: 9.24%; width: 18.88%; height: 18.16%;">
									<img src="assets/img/therapy-services/banner_cognitive_behavior_therapy_one_c.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="12" style="top: -18.16%; left: 70.90%; width: 34.87%; height: 29.85%;">
									<img src="assets/img/therapy-services/banner_cognitive_behavior_therapy_one_d.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Cognitive Behavior Therapy (CBT)</h1>
									<h5 class="mb-3">Overview</h5>
									<p>Cognitive Behavior Therapy helps individuals recognize unhelpful thoughts and behaviors and learn how to change them. CBT can give your child realistic strategies to improve their lives in the here and now. Once these strategies become habit, the new skills can follow them throughout their lives.</p>
									<div class="mt-5">
										<h5 class="mb20">CBT can help children learn to control:</h5>
										<ul class="list-tick">
											<li>Self-defeating thoughts</li>
											<li>Impulsivity</li>
											<li>Defiance</li>
											<li>Tantrums</li>
										</ul>
									</div>
									<div class="mt-5">
										<h5 class="mb20">CBT can help replace negative reactions with:</h5>
										<ul class="list-tick">
											<li>Improved self-image</li>
											<li>New coping mechanisms</li>
											<li>Problem-solving skills</li>
											<li>More self-control</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid physio-section-three animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="ta-sl-main">
					<div class="ta-sl-bg-box"></div>
					<div class="ta-sl-center">
						<div class="com_tab-slider-main">
							<div class="section-par">
								<p class="co-moss-green"><strong>Your child doesn’t have to have a diagnosed mental health condition to benefit from CBT. However, it can be quite effective in dealing with specific conditions, such as:</strong></p>
								<ul class="list-tick-2 list-2">
									<li>Attention deficit hyperactivity disorder (ADHD)</li>
									<li>Depression</li>
									<li>Anxiety and mood disorders</li>
									<li>Disordered eating</li>
									<li>Anxiety with autism spectrum disorder</li>
									<li>Obesity</li>
									<li>Trauma and PTSD</li>
									<li>Obsessive-compulsive disorder (OCD)</li>
									<li>Adolescent substance use</li>
									<li>Self-harm</li>
									<li>Bipolar disorder</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt0 mb100 mob-mb0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-par text-center">
					<h2>Intervention</h2>
					<p>
						CBT involves a structured approach to solving problems in a specified number of sessions. It can be as few as six sessions or as many as 20 or more, depending on the child and the particular goals. <br>
						The therapist will discuss goals and develop a treatment plan with the parents.
					</p>
					<p>Your child can have CBT alone or in combination with medications or any other therapies they might need. The treatment plan can be adapted to meet cultural or regional differences.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="container width-2 section-title text-center">
					<h3>Some of the CBT techniques used the in the Centre are:</h3>
				</div>
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Play therapy</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Trauma-focused CBT</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Modeling</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Restructuring</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Exposure</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-eleven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-twelve com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="physio-section-three"></div>
</div>
{% endblock %}