{% set pageTitleMeta = 'Contact Us - Olive Tree Development Center' %}
{% set activePage = 'contact-us' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid mb-0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h1>Contact Us</h1>
				</div>
				<div class="row">
					<div class="col-md-7 mob-mb50">
						<div class="co-us-d-banner bp-img text-center">
							<a href="#">
								<img src="assets/img/contact-us/banner_download.png" alt="">
							</a>
						</div>
					</div>
					<div class="col-md-5">
						<ul class="co-us-list">
							<li>
								<div class="icon"><i class="fa fa-map-marker-alt"></i></div>
								<div class="fw-600">
									Olive Tree Development Center <br>
									179A Thomson Road, 2nd Floor <br>
									Goldhill Shopping Center, Singapore
								</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-phone"></i></div>
								<div class="fw-600">
									<a class="link link-inherit" href="tel:62525200">6252 5200</a>
								</div>
							</li>
						</ul>
						<ul class="co-us-list mt50 mob-mt3">
							<li>
								<div class="icon"><i class="fa fa-map-marker-alt"></i></div>
								<div class="fw-600">
									Olive Tree Development Center <br>
									179A Thomson Road, 2nd Floor <br>
									Goldhill Shopping Center, Singapore
								</div>
							</li>
							<li>
								<div class="icon"><i class="fa fa-phone"></i></div>
								<div class="fw-600">
									<a class="link link-inherit" href="tel:62525200">6252 5200</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="com_olive-tree-map mt40 mob-mt40"></div>
				<div class="co-us-box mt30 mob-mt30">
					<div class="section-title text-center">
						<h2>Send Us A Message</h2>
					</div>
					<form action="" method="">
						<div class="row">
							<div class="col-md-6 form-group">
								<label>First Name</label>
								<input class="form-control" type="text" name="" value="">
							</div>
							<div class="col-md-6 form-group">
								<label>Last Name</label>
								<input class="form-control" type="text" name="" value="">
							</div>
							<div class="col-md-6 form-group">
								<label>Email</label>
								<input class="form-control" type="text" name="" value="">
							</div>
							<div class="col-md-6 form-group">
								<label>Phone Number</label>
								<input class="form-control" type="text" name="" value="">
							</div>
							<div class="col-12 form-group">
								<label>Subject</label>
								<div class="com_select-box">
									<select name="" id="">
										<option value="">Sample 1</option>
										<option value="">Sample 2</option>
										<option value="">Sample 3</option>
									</select>
								</div>
							</div>
							<div class="col-12 form-group">
								<label>Message</label>
								<textarea class="form-control" name="" id="" cols="0" rows="0" maxlength="300"></textarea>
							</div>
							<div class="col-12 form-group mt30 mb30 text-center">
								<div class="bp-img"><img src="assets/img/captcha.png" alt=""></div>
							</div>
							<div class="col-12 form-group text-center">
								<button class="button button-primary button-width-4">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-sixteen com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-seventeen com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
</div>
{% endblock %}