{% set pageTitleMeta = 'Dance Movement Therapy - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container">
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="519,446,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 0; left: 0; width: 100%; height: 96.86%;">
									<img src="assets/img/therapy-services/banner_dance_therapy_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: -8.29%; left: 24.27%; width: 48.74%; height: 113.45%;">
									<img src="assets/img/therapy-services/banner_dance_therapy_one_b.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Dance Movement Therapy (DMT)</h1>
									<h5 class="mb-3">Overview</h5>
									<p>Music Therapy is an evidence-based treatment that uses music as means to achieve non-musical goals such as physical, emotional, social and cognitive development. Olive Tree is the first established centre with Music Therapy in Singapore.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt0 mob-pt50 music-section-two animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-par">
					<h2>Assessment</h2>
					<p>Assessment will be implemented during the first few music therapy sessions. This is important to help the music therapist determine the nature and scope of the treatment. During the assessment period, the music therapist will gather information on the client’s history, present condition, strengths and limitations in different areas, as well as the client's interests, values, and attitudes. Information may be acquired by interviewing with the client’s family members and observation of the client in cognitive, social, physical, or other tasks during the music therapy sessions. Baseline data will also be collected during this period for further progress analysis.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt0 mb100 mob-mb0 animate" data-animate="parent">
			<div class="container width-4 animate" data-animate="child">
				<div class="section-par text-center">
					<h2>Intervention</h2>
					<p>Right after assessment, the music therapist will discuss the findings and the potential goals with the client’s family members. The treatment plan will be established with goals and objectives for the client to work on.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="container width-3 section-title text-center">
					<h3>The therapy techniques used in the centre include:</h3>
				</div>
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Behaviour Modification Music Therapy</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Neurologic Music Therapy</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Music Therapy for Social and Emotional Behaviours</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Music Therapy for Motor skills</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Music Therapy for Pre-academic and Academic Skills</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Music Therapy for Children in the Autism Spectrum</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Music Therapy for Children and Adults with Intellectual Disabilities</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Music Therapy for Neurorehabilitation</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Music therapy can assist the clients in learning basic skills necessary for further learning such as attention span, following direction, and making eye contact using music therapy behavior modification and other techniques.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-eleven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-twelve com_anim-keyframe" data-anim-keyframe='[{"4000":"-30"}]' data-bg-dependent="music-section-two"></div>
</div>
{% endblock %}