{% set pageTitleMeta = 'Educational Therapy - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container">
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="549,495,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: -0.60%; left: 0.54%; width: 94.53%; height: 87.27%;">
									<img src="assets/img/therapy-services/banner_educational_therapy_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: -4.44%; left: -6.37%; width: 106.73%; height: 104.64%;">
									<img src="assets/img/therapy-services/banner_educational_therapy_one_b.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Educational Therapy (ET)</h1>
									<h5 class="mb-3">Overview</h5>
									<p>Educational Therapy focuses on supporting children who are learning or getting ready to learn in a school-based setting. Your child will benefit from Educational Therapy if he/she has difficulties in: </p>
									<div class="mt-5">
										<ul class="list-tick">
											<li>Reading &amp; literacy</li>
											<li>Numeracy</li>
											<li>Executive function</li>
											<li>Working memory</li>
											<li>Language comprehension</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid educational-section-two pt100 mob-pt50 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h3>Educational Therapy is the standard treatment for children and adolescents diagnosed with: </h3>
				</div>
				<div class="com_tab-slider">
					<div class="row">
						<div class="col-md-5">
							<div class="com_tab-slider-nav pr-md-3">
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Dyslexia</div>
									<div class="com_tab-slider-content">
										<p>Dyslexia is the most common learning disability in children and persists throughout life. It is a specific learning disability that is neurobiological in origin and is characterised by difficulties with accurate and/or fluent word recognition and by poor spelling and decoding abilities.</p>
										<p>This typically results from a deficit in the phonological component of language that is often unexpected in relation to other cognitive abilities and the provision of effective classroom instruction. Also, problems in reading comprehension and reduced reading experience that can impede growth of vocabulary and background knowledge may also arise.</p>
										<p>Our therapists use different assessment tools to evaluate the child and specific plans are given to each child under Dyslexia Remediation Programme.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Dyscalculia</div>
									<div class="com_tab-slider-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Dysgraphia</div>
									<div class="com_tab-slider-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="ta-sl-main">
								<div class="ta-sl-bg-box" style="background-image: url('assets/img/therapy-services/icon_occupational_therapy.png');"></div>
								<div class="ta-sl-center">
									<div class="com_tab-slider-main"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt0 mb100 mob-mb0 animate" data-animate="parent">
			<div class="container width-4 animate" data-animate="child">
				<div class="section-par text-center">
					<h2>Intervention</h2>
					<p>Our Educational Therapists adapt an eclectic, pe approach to ensure that treatment is catered to each child’s individual learning strengths and styles.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="container width-3 section-title text-center">
					<h3>We offer the following types of remediation for learning-based challenges: </h3>
				</div>
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Literacy Remediation Program</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Cognitive Development Program</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Maths Remediation Programme</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Science Remediation Programme</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Working Memory Remediation</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Dyslexia Remediation Programme</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Chinese Remediation Programme</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Creative Writing Classes</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Literacy Remediation is designed to guide children to gain competence in reading, comprehension, vocabulary building, and spelling. Children will be assessed from time to time via formative assessment and portfolio. We adopt the Lindamood-Bell Learning Processes and Orton Gillingham strategy to stir the interest for literacy and functional literacy.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-eleven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-twelve com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="educational-section-two"></div>
</div>
{% endblock %}