{% set pageTitleMeta = 'Home - Olive Tree Development Center' %}
{% set bodyClass = 'page-home' %}
{% set activePage = 'home' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid ho-section-one mb-5 mb-xl-0 animate" data-animate="parent">
			<div class="container">
				<div class="row align-items-center flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb30">
						<div class="com_banner-content ho-co-earth">
							<div class="com_aspect-ratio" data-aspect-ratio="766,773">
								<div class="hc-ea-item item-one">
									<img src="assets/img/home/banner_earth.png" alt="">
									<div class="ho-co-speech-bubbles">
										<div class="hc-sp-item item-1">
											<div class="hc-sp-bubble top-left">Can you be my friend?</div>
										</div>
										<div class="hc-sp-item item-2">
											<div class="hc-sp-bubble top-left">I love music!</div>
										</div>
										<div class="hc-sp-item item-3">
											<div class="hc-sp-bubble top-right">Hi I'm Anna</div>
										</div>
										<div class="hc-sp-item item-4">
											<div class="hc-sp-bubble top-left">Hello! <br>I'm Nishka!</div>
										</div>
										<div class="hc-sp-item item-5">
											<div class="hc-sp-bubble top-left">Nice to meet you!</div>
										</div>
										<div class="hc-sp-item item-6">
											<div class="hc-sp-bubble top-right">C'mon let's <br>play!</div>
										</div>
									</div>
								</div>
								<div class="hc-ea-item item-two com_earth-snow"></div>
								<div class="hc-ea-item item-three">
									<img src="assets/img/home/banner_earth_cloud_one.png" alt="">
								</div>
								<div class="hc-ea-item item-four">
									<img src="assets/img/home/banner_earth_cloud_two.png" alt="">
								</div>
								<div class="hc-ea-item item-five">
									<img src="assets/img/home/banner_earth_cloud_three.png" alt="">
								</div>
								<div class="hc-ea-item item-six">
									<img src="assets/img/home/banner_earth_cloud_four.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Transforming Families, <br>Impacting Lives.</h1>
									<p>Olive Tree Development Centre (OTDC) and Olive Tree EduCentre (OTEC) are part of the Olive Tree Group with over 20 years of medical practice experience in Singapore. We believe that it takes a whole team to bring out a child's maximum potential.</p>
									<div class="mt-4">
										<a class="button button-primary btn-border link-animate" href="#">Find Out More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid ho-section-two animate" data-animate="parent">
			<div class="container">
				<div class="row align-items-center animate" data-animate="child">
					<div class="col-md-6 mob-mb30">
						<div class="com_banner-content ho-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="635,531,maxWidth">
								<div class="com_parallax-item bp-ab" style="top: 0%; left: 9.13%; width: 90.86%; height: 71.18%;">
									{# <img src="assets/img/home/banner_program_and_services_one.png" alt=""> #}

									<div class="com_parallax-item bp-ab par-item-one" style="top: 0; left: auto; right: 55.99%; width: 35.87%; height: 26.45%;">
										<img src="assets/img/home/banner_program_and_services_one_a.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab par-item-two" style="top: 5.82%; left: 44%; width: 55.97%; height: 29.89%;">
										<img src="assets/img/home/banner_program_and_services_one_b.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab par-item-three" style="top: 21.16%; left: auto; right: 55.81%; width: 44.19%; height: 28.91%;">
										<img src="assets/img/home/banner_program_and_services_one_c.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab par-item-four" style="top: 29.10%; left: 44%; width: 40.90%; height: 31.48%;">
										<img src="assets/img/home/banner_program_and_services_one_d.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab par-item-five" style="top: 43.91%; left: auto; right: 55.99%; width: 31.71%; height: 28.30%;">
										<img src="assets/img/home/banner_program_and_services_one_e.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab par-item-six" style="top: 53.96%; left: 44%; width: 50.77%; height: 33.59%;">
										<img src="assets/img/home/banner_program_and_services_one_f.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab par-item-seven" style="top: 65.60%; left: auto; right: 55.82%; width: 43.15%; height: 34.39%;">
										<img src="assets/img/home/banner_program_and_services_one_g.png" alt="">
									</div>
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 40.67%; left: 36.85%; width: 28.03%; height: 39.73%;">
									<img src="assets/img/home/banner_program_and_services_two.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="15" style="bottom: 0; right: 0; width: 84.40%; height: 75.51%;">
									<img src="assets/img/home/banner_program_and_services_three.png" alt="">
								</div>
								<a class="link-animate bp-ab" data-item-hover="par-item-one" href="intervention-program.html#our-intake-process" style="top: 0; left: 17%; width: 33%; height: 14.5%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-two" href="therapy-services.html" style="top: 4%; left: 50%; width: 49.5%; height: 16%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-three" href="intervention-program.html#our-intake-process" style="top: 14.5%; left: 10%; width: 40%; height: 16%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-four" href="specialized-programs.html" style="top: 21%; left: 50%; width: 36.5%; height: 16%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-five" href="intervention-program.html#our-intake-process" style="top: 31.5%; left: 21%; width: 29%; height: 15%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-six" href="psychological-assessment.html" style="top: 38.5%; left: 50%; width: 45.5%; height: 18%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-seven" href="intervention-program.html#our-intake-process" style="top: 46.5%; left: 11%; width: 39%; height: 19%;"></a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-11">
								<div class="section-par">
									<h1>Programs &amp; Services</h1>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
									<div class="mt-4">
										<a class="button button-primary btn-border link-animate" href="programs-and-services.html">Find Out More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid animate" data-animate="parent">
			<div class="container">
				<div class="row align-items-center flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-7 mob-mb30">
						<a class="com_banner-content ho-banner-two" data-fancybox href="https://www.youtube.com/watch?v=3wAMKUExgP0&pp=sAQA">
							<div class="com_aspect-ratio" data-aspect-ratio="790,633,maxWidth">
								<div class="com_parallax-item bp-ab" style="top: 0; left: 10.25%; width: 79.11%;">
									<img src="assets/img/home/banner_about_us_one.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 26.85%; left: 16.83%; width: 63.79%; height: 54.34%;">
									<img src="assets/img/home/banner_about_us_two.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="7" style="top: 27.01%; left: 16.83%; width: 63.29%; height: 54.18%;">
									<img src="assets/img/home/banner_about_us_three.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 50.07%; left: 43.03%; width: 12.15%; height: 10.74%;">
									<img src="assets/img/home/banner_about_us_four.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="15" style="top: 3.15%; left: 0%; width: 100%; height: 91.15%;">
									<img src="assets/img/home/banner_about_us_five.png" alt="">
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-lg-12">
								<div class="section-par">
									<h1>About Us</h1>
									<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
									<div class="mt-4">
										<a class="button button-primary button-width-3 btn-border link-animate" href="about-us.html#meet-our-team">Meet Our Therapist</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt50 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="section-title text-center">
					<h1>Gallery</h1>
				</div>
				<div class="com_owl-carousel com_gallery-carousel nav-1 car-1" data-carousel="responsive">
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery1.jpg"><img src="assets/img/gallery/gallery1.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery2.jpg"><img src="assets/img/gallery/gallery2.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery3.jpg"><img src="assets/img/gallery/gallery3.jpg" alt=""></a></div>

					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery1.jpg"><img src="assets/img/gallery/gallery1.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery2.jpg"><img src="assets/img/gallery/gallery2.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery3.jpg"><img src="assets/img/gallery/gallery3.jpg" alt=""></a></div>

					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery1.jpg"><img src="assets/img/gallery/gallery1.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery2.jpg"><img src="assets/img/gallery/gallery2.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery3.jpg"><img src="assets/img/gallery/gallery3.jpg" alt=""></a></div>

					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery1.jpg"><img src="assets/img/gallery/gallery1.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery2.jpg"><img src="assets/img/gallery/gallery2.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox="gallery" href="assets/img/gallery/gallery3.jpg"><img src="assets/img/gallery/gallery3.jpg" alt=""></a></div>
				</div>
			</div>
		</div>
		<div class="container-fluid ho-section-five animate" data-animate="parent">
			<div class="container width-3 animate" data-animate="child">
				<div class="section-title text-center mb40">
					<h3>What parents say about us</h3>
				</div>
				<div class="com_owl-carousel com_quote-carousel nav-1 car-1" data-carousel="responsive,quotes,false">
					<div class="item">
						<div class="com_quote-box">
							<div class="com_quote-box-main">
								<div class="qu-bo-img mt-4">
									<img src="assets/img/dummy/user_quote.png" alt="">
								</div>
								<div>
									<div class="qu-bo-par section-par">
										<p>Our young son has always been very sociable, full of energy and curiosity as well as a   sensitive soul. It was of real importance to us that we find the right therapy centre which supported our values and would nurture his personality and kind spirit. From the moment we stepped through the door of Olive Tree we all felt completely at home.</p>
										<p><strong>- Christine Teo</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="com_quote-box">
							<div class="com_quote-box-main">
								<div class="qu-bo-img mt-4">
									<img src="assets/img/dummy/user_quote.png" alt="">
								</div>
								<div>
									<div class="qu-bo-par section-par">
										<p>Our young son has always been very sociable, full of energy and curiosity as well as a   sensitive soul. It was of real importance to us that we find the right therapy centre which supported our values and would nurture his personality and kind spirit. From the moment we stepped through the door of Olive Tree we all felt completely at home.</p>
										<p><strong>- Christine Teo</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="com_quote-box">
							<div class="com_quote-box-main">
								<div class="qu-bo-img mt-4">
									<img src="assets/img/dummy/user_quote.png" alt="">
								</div>
								<div>
									<div class="qu-bo-par section-par">
										<p>Our young son has always been very sociable, full of energy and curiosity as well as a   sensitive soul. It was of real importance to us that we find the right therapy centre which supported our values and would nurture his personality and kind spirit. From the moment we stepped through the door of Olive Tree we all felt completely at home.</p>
										<p><strong>- Christine Teo</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-five com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-six com_anim-keyframe" data-anim-keyframe='[{"4000":"-50"}]' data-bg-dependent="ho-section-two"></div>
</div>
{% endblock %}