{% set pageTitleMeta = 'Intervention Program - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container">
				<div class="row align-items-center animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="row justify-content-end">
							<div class="col-xl-10">
								<div class="section-par">
									<h1>The Olive Tree Intervention Program</h1>
									<p>A STRUCTURED AND INDIVIDUALIZED PROGRAM FOR CHILDREN TO STIMULATE AND ENHANCE GLOBAL DEVELOPMENT PROCESSES</p>
									<p>The Olive Tree Intervention Program is a holistic approach towards learning for all developmental differences. The Program is designed to simulate a school setting by providing small group interventions with a teacher-child ratio of 1:2 or 2:5 at maximum. This allows for more intensive support while continuing to promote social interactions and peer learning. We have developed our proven integrative curriculum based on evidence-based research and the expertise of our clinical and educational professionals.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="597,632,maxWidth">
								<div class="com_parallax-item bp-ab" style="top: 0%; left: 0%; width: 100%; height: 100%;">
									<img src="assets/img/programs-and-services/banner_intervention_program_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" style="top: 4.90%; left: 4.35%; width: 87.43%; height: 71.36%;">
									{# <img src="assets/img/programs-and-services/banner_intervention_program_one_b.png" alt=""> #}

									<div class="com_parallax-item bp-ab par-item-eight" style="top: 16%; left: auto; right: 50.29%; width: 40.54%; height: 46.22%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_1.png" alt="">
									</div>

									<div class="com_parallax-item bp-ab par-item-nine" style="top: 33.77%; left: auto; right: 50.29%; width: 49.70%; height: 24.22%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_2.png" alt="">
									</div>

									<div class="com_parallax-item bp-ab par-item-ten" style="top: 52.88%; left: auto; right: 50.29%; width: 35.86%; height: 23.77%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_3.png" alt="">
									</div>

									<div class="com_parallax-item bp-ab par-item-eleven" style="top: 71.11%; left: auto; right: 50.29%; width: 48.53%; height: 28.88%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_4.png" alt="">
									</div>

									<div class="com_parallax-item bp-ab par-item-twelve" style="top: 0%; left: 49.31%; width: 46.19%; height: 28.88%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_5.png" alt="">
									</div>

									<div class="com_parallax-item bp-ab par-item-thirteen" style="top: 20.88%; left: 49.31%; width: 50.68%; height: 25.11%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_6.png" alt="">
									</div>

									<div class="com_parallax-item bp-ab par-item-fourteen" style="top: 40.44%; left: 49.31%; width: 46.39%; height: 26.66%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_7.png" alt="">
									</div>

									<div class="com_parallax-item bp-ab par-item-fifteen" style="top: 61.33%; left: 49.31%; width: 52.04%; height: 28.22%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_one_b_8.png" alt="">
									</div>
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="bottom: 0%; right: 0%; width: 89.11%; height: 63.13%;">
									<img src="assets/img/programs-and-services/banner_intervention_program_one_c.png" alt="">
								</div>
								
								<a class="link-animate bp-ab" data-item-hover="par-item-eight" href="#our-intake-process" style="top: 16.5%; left: 12.5%; width: 35%; height: 12%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-nine" href="#our-intake-process" style="top: 29.5%; left: 4.5%; width: 43%; height: 13%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-ten" href="#our-intake-process" style="top: 42.5%; left: 16.5%; width: 31%; height: 13%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-eleven" href="#our-intake-process" style="top: 56%; left: 5.5%; width: 42%; height: 15%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-twelve" href="speech-therapy.html" style="top: 5%; left: 46.5%; width: 40%; height: 14%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-thirteen" href="occupational-therapy.html" style="top: 20%; left: 47.5%; width: 43%; height: 13%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-fourteen" href="educational-therapy.html" style="top: 34%; left: 47.5%; width: 39%; height: 14%;"></a>
								<a class="link-animate bp-ab" data-item-hover="par-item-fifteen" href="#" style="top: 49%; left: 47.5%; width: 44%; height: 15%;"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wave-avocado-green">
			<div class="container-fluid animate" data-animate="parent">
				<div class="container width-2 animate" data-animate="child">
					<div class="section-par text-center">
						<h1>Our Curriculum Framework</h1>
						<p>The Olive Tree Intervention Programme focuses on building your child's core skills from the ground up. These include sensory-motor and language skills, adaptive behaviour, socio-emotional development, and other concept learning. We believe that with these strong foundational skills, your child will be confident enough to explore and learn from others and their surroundings.</p>
						<p>Each component of our curriculum is meticulously planned, and our classrooms carefully designed by our multidisciplinary team of ECDA-certified teachers, psychologists, occupational therapists, speech language therapists, and educational therapists. Quality standards in our curriculum are assured each time through yearly audits.</p>
					</div>
				</div>
			</div>
			<div class="container-fluid animate" data-animate="parent">
				<div class="container animate" data-animate="child">
					<div class="in-pr-chart-content">
						<div class="in-pr-chart-main text-center">
							<div class="section-par mb20 mob-mb30">
								<p>The Olive Tree Intervention Program focuses on the <strong>Seven Developmental Areas of Learning:</strong></p>
							</div>
							<div class="com_banner-content com_in-pr-wheel inview">
								<div class="com_aspect-ratio" data-aspect-ratio="565,565,maxWidth">
									<div class="com_parallax-item bp-ab" style="top: 0; left: 0; width: 100%; height: 100%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_wheel_c.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab" style="top: 7.43%; left: 7.43%; width: 84.95%; height: 84.95%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_wheel_b.png" alt="">
									</div>
									<div class="com_parallax-item bp-ab" style="top: 13.98%; left: 13.98%; width: 72.03%; height: 72.03%;">
										<img src="assets/img/programs-and-services/banner_intervention_program_wheel_a.png" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="in-pr-chart-bg">
							<div class="com_aspect-ratio com_banner" data-aspect-ratio="1212,540,maxWidth" style="background-image: url('assets/img/programs-and-services/banner_intervention_program_two_a.png');"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid animate" data-animate="parent">
				<div class="container width-2 animate" data-animate="child">
					<div class="row row-medium group-height animate" data-animate="child">
						<div class="col-sm-6 col-md-4 mb50 mob-mb50 pb20 mob-pb20">
							<div class="ip-da-box gh4">
								<div class="id-bo-col col-img gh1">
									<div class="bp-img"><img src="assets/img/programs-and-services/banner_intervention_program_dal_1.png" alt=""></div>
								</div>
								<div class="id-bo-col section-par">
									<div class="mb10 gh2">
										<h4>Behaviour</h4>
									</div>
									<div class="section-par caption-small gh3">
										<p>A child should be able to hold himself in any circumstance he is placed in. We encourage regulation of the self, being able to adapt to a situation, focus on tasks, manage impulses and cope with challenges appropriately.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 mb50 mob-mb50 pb20 mob-pb20">
							<div class="ip-da-box gh4">
								<div class="id-bo-col col-img gh1">
									<div class="bp-img"><img src="assets/img/programs-and-services/banner_intervention_program_dal_2.png" alt=""></div>
								</div>
								<div class="id-bo-col section-par">
									<div class="gh2 mb10">
										<h4>Social Skills</h4>
									</div>
									<div class="section-par caption-small gh3">
										<p>A child should be able to hold himself in any circumstance he is placed in. We encourage regulation of the self, being able to adapt to a situation, focus on tasks, manage impulses and cope with challenges appropriately.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 mb50 mob-mb50 pb20 mob-pb20">
							<div class="ip-da-box gh4">
								<div class="id-bo-col col-img gh1">
									<div class="bp-img"><img src="assets/img/programs-and-services/banner_intervention_program_dal_3.png" alt=""></div>
								</div>
								<div class="id-bo-col section-par">
									<div class="gh2 mb10">
										<h4>Cognition</h4>
									</div>
									<div class="section-par caption-small gh3">
										<p>We maximize a child's ability to take in the world. We enrich cognitive skills such as literacy and numeracy, problem solving, memory, planning and organization. We do this by incorporating both play and exploration in our lessons, building engaged learners.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 mb50 mob-mb50 pb20 mob-pb20">
							<div class="ip-da-box gh4">
								<div class="id-bo-col col-img gh1">
									<div class="bp-img"><img src="assets/img/programs-and-services/banner_intervention_program_dal_4.png" alt=""></div>
								</div>
								<div class="id-bo-col section-par">
									<div class="gh2 mb10">
										<h4>Language and Communication</h4>
									</div>
									<div class="section-par caption-small gh3">
										<p>A child who understands and is understood is confident, resilient and proactive. With the guidance of our Speech Therapists, we build on your child's receptive language, expressive communication, articulation and speech clarity. We aim to raise effective communicators of all needs and abilities.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 mb50 mob-mb50 pb20 mob-pb20">
							<div class="ip-da-box gh4">
								<div class="id-bo-col col-img gh1">
									<div class="bp-img"><img src="assets/img/programs-and-services/banner_intervention_program_dal_5.png" alt=""></div>
								</div>
								<div class="id-bo-col section-par">
									<div class="gh2 mb10">
										<h4>Gross Motor Skills</h4>
									</div>
									<div class="section-par caption-small gh3">
										<p>Gross motor skills refers to big muscle movements such as running, jumping and climbing. These movements require strength, balance and coordination. They are needed for both daily life and play, and serve as a foundation for fine motor skills. </p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-4 mb50 mob-mb50 pb20 mob-pb20">
							<div class="ip-da-box gh4">
								<div class="id-bo-col col-img gh1">
									<div class="bp-img"><img src="assets/img/programs-and-services/banner_intervention_program_dal_6.png" alt=""></div>
								</div>
								<div class="id-bo-col section-par">
									<div class="gh2 mb10">
										<h4>Fine Motor Skills</h4>
									</div>
									<div class="section-par caption-small gh3">
										<p>Fine motor skills refer to smaller, more coordinated muscle movements, mostly involving the hands and fingers. Tasks that require efficient fine motor skills include threading beads, twisting knobs and holding a crayon.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 mb50 mob-mb50 pb20 mob-pb20">
							<div class="ip-da-box box-v2">
								<div class="id-bo-col col-img">
									<div class="bp-img"><img src="assets/img/programs-and-services/banner_intervention_program_dal_7.png" alt=""></div>
								</div>
								<div class="id-bo-col section-par">
									<div class="mb20">
										<h4>Self-Help Skills</h4>
									</div>
									<div class="section-par caption-small">
										<p>Everyone must learn to care for themselves and for their immediate environment. We teach essential daily skills such as feeding, dressing and toileting. We encourage practicipate in age-appropriate chores such as keeping one's things, setting one's place at the table and keeping one's space neat and clean.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid ip-section-five animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="com_tab-slider">
					<div class="row">
						<div class="col-md-5">
							<div class="section-title">
								<h1>Our Intervention Approach</h1>
							</div>
							<div class="com_tab-slider-nav pr-md-3">
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">TEACCH</div>
									<div class="com_tab-slider-content">
										<div class="section-par">
											<ul>
												<li>sample 1</li>
												<li>sample 2</li>
												<li>sample 3</li>
												<li>sample 5</li>
											</ul>
											<ol>
												<li>sample 1</li>
												<li>sample 2</li>
												<li>sample 3</li>
												<li>sample 5</li>
											</ol>
											<p>Treatment and Education of Autistic and related Communications Handicapped Children (TEACCH) is a 'whole-of-life' intervention. The approach looks at the skills and strengths children already have, and it aims to build on these to promote development.</p>
										</div>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Positive Behavior Support</div>
									<div class="com_tab-slider-content">
										<div class="section-par">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										</div>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Montessori Approach</div>
									<div class="com_tab-slider-content">
										<div class="section-par">
											<p>Treatment and Education of Autistic and related Communications Handicapped Children (TEACCH) is a 'whole-of-life' intervention. The approach looks at the skills and strengths children already have, and it aims to build on these to promote development.</p>
										</div>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Multi-Sensory Approach</div>
									<div class="com_tab-slider-content">
										<div class="section-par">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="ta-sl-main" data-banner-parent>
								<div class="ta-sl-bg-box">
									<div class="com_aspect-ratio com_banner bp-ab" data-aspect-ratio="496,237" data-banner-pull="56" style="background-image: url('assets/img/programs-and-services/banner_intervention_program_three.png'); background-size: 95% auto;"></div>
								</div>
								<div class="ta-sl-center">
									<div class="com_tab-slider-main"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="our-intake-process" class="container-fluid mt50 mob-mt0 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="in-pr-oip-box com_pull-parent">
					<div class="container width-2">
						<div class="section-title text-center">
							<h1>Our Intake Process</h1>
						</div>
						<div class="section-par">
							<h2>Multidisciplinary Screening</h2>
							<p>An initial screening session will be conducted by a team of specialists. Together, they will engage with your child in different ways, effectively observing skills from the Seven Developmental Domains of Learning and tracking baseline data.</p>
						</div>
						<div class="section-par mt50">
							<h2>Core Intervention Program</h2>
							<p>Based on the results of the screening, your child will then be recommended to one of the following leveled group classes:</p>
						</div>
						<div class="mt20 mob-mt20">
							<ul class="ip-oip-list list-4 com_pull-half group-height animate" data-animate="child">
								<li>
									<div class="ip-da-box box-v3 text-left gh3">
										<div class="id-bo-col section-par mb20 gh1">
											<h5 class="co-paradise-green"><strong>Early Intervention Program (EIP)</strong></h5>
										</div>
										<div class="id-bo-col caption-small section-par gh2">
											<p>Designed for children with developmental ages 2-5 years, this class focuses on building the first adaptive skills necessary for learning and exploration.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="ip-da-box box-v3 text-left gh3">
										<div class="id-bo-col section-par mb20 gh1">
											<h5 class="co-moss-green"><strong>School Readiness Program (SRP)</strong></h5>
										</div>
										<div class="id-bo-col caption-small section-par gh2">
											<p>Designed for children with developmental ages 5-7 years, thisclass focuses on building adaptive skills needed for learning and thriving in a preschool setting as well as for transitions.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="ip-da-box box-v3 text-left gh3">
										<div class="id-bo-col section-par mb20 gh1">
											<h5 class="co-puffins-bill"><strong>School Bridging Program (SBP)</strong></h5>
										</div>
										<div class="id-bo-col caption-small section-par gh2">
											<p>Designed for children with developmental ages 6-8 years, this class focuses on strengthening learning skills necessary for primary school.</p>
										</div>
									</div>
								</li>
								<li>
									<div class="ip-da-box box-v3 text-left gh3">
										<div class="id-bo-col section-par mb20 gh1">
											<h5 class="co-bright-yarrow"><strong>Life Skills Program (LSP)</strong></h5>
										</div>
										<div class="id-bo-col caption-small section-par gh2">
											<p>Designed for children with developmental ages 8 years andabove, this class focuses on strengthening learning skills necessary for independence and community integration.</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid animate" data-animate="parent">
			<div class="container animate" data-animate="child">				
				<div class="section-title section-par text-center">
					<h1>Our Schedule</h1>
					<p>We have a daily 3-hour program that is personalized to accommodate each child's needs and family schedule. </p>
				</div>
				<div class="row row-medium group-height animate" data-animate="child">
					<div class="col-md-6 mb40 mob-mb40">
						<div class="theme theme-blue">
							<div class="in-pr-sch-box gh2">
								<div class="ip-sch-col col-title gh1">
									<h2>Weekday Schedule</h2>
								</div>
								<div class="ip-sch-col">
									<ul class="ip-sch-list caption-large">
										<li class="d-flex">
											<span>Morning session:</span>
											<span>9-12 pm</span>
										</li>
										<li class="d-flex">
											<span>Afternoon session:</span>
											<span>2-5 pm</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb40 mob-mb40">
						<div class="theme theme-green">
							<div class="in-pr-sch-box gh2">
								<div class="ip-sch-col col-title gh1">
									<h2>Saturday Schedule</h2>
								</div>
								<div class="ip-sch-col">
									<ul class="ip-sch-list caption-large">
										<li class="d-flex">
											<span>Morning session:</span>
											<span>9-12 pm</span>
										</li>
										<li class="d-flex">
											<span>Afternoon session:</span>
											<span>1-4 pm</span>
										</li>
										<li class="d-flex">
											<span></span>
											<span>2-5 pm</span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt10 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="row align-items-center mt50">
					<div class="col-md-6 mob-mb30">
						<div class="bp-img text-center">
							<img src="assets/img/programs-and-services/banner_intervention_program_four.png" alt="">
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>How We Track Progress</h1>
									<p class="mb40">We value our collaborations between families and teachers. For each term in the Olive Tree Intervention Program, we will provide:</p>
									<ul class="list-tick">
										<li>An Individualized Education Plan (IEP) that will serve as benchmarks for your child's treatment and progress.</li>
										<li>Monthly Reports detailing both your child's specific learning experiences and strategies for the home front.</li>
										<li>Face-to-face Parent-Teacher Conferences (PTC) with the multidisciplinary team, during the middle and end of the year.</li>
										<li>Progress Reports during the middle and end of the year.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-fourteen com_anim-keyframe" data-anim-keyframe='[{"4000":"-150"}]' data-bg-dependent="ip-section-five"></div>
</div>
{% endblock %}