{% set pageTitleMeta = 'Occupational Therapy - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid animate" data-animate="parent">
			<div class="container">
				<div class="row align-items-center flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="522,625,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 17.92%; left: -0; width: 100%; height: 69.12%;">
									<img src="assets/img/therapy-services/banner_occupational_therapy_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 0; left: 0;">
									<img src="assets/img/therapy-services/banner_occupational_therapy_one_b.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Occupational Therapy</h1>
									<h5 class="mb-3">Overview</h5>
									<p>Occupational therapy (OT) focuses on helping children with physical, sensory, or cognitive disability be as independent as possible in all areas of their lives. OT can help children with various needs improve their cognitive, physical, sensory, and motor skills and enhance their self-esteem and sense of accomplishment.</p>
									<div class="bp-img text-center mt-3 mb-3">
										<img src="assets/img/therapy-services/banner_central_nervous_system.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-end mt50 pt10 oc-th-section-two animate" data-animate="child">
					<div class="col-lg-11">
						<div class="section-par">
							<h5 class="mb40">Your child will benefit from Occupational Therapy if he/she: </h5>
							<ul class="list-tick list-2">
								<li>Has significant delays in gross movements like crawling, sitting, walking, running or even jumping </li>
								<li>Has behavioral problems, such as refusing to comply with parent or adult requests, showing aggression and throwing tantrums that last for longer than typical</li>
								<li>
									Has significant delays in fine motor movement holding and manipulating objects<br>
									Has low or excessive muscle tone
								</li>
								<li>Has difficulty in handwriting</li>
								<li>Has difficulties in balance and coordination</li>
								<li>Has problems in visual and perceptual skills</li>
								<li>Has difficulties attending to and focusing on tasks </li>
								<li>Has problems in activities of daily living such as dressing, feeding, toileting, grooming etc.</li>
								<li>Has difficulty regulating sensory information such as touch, smell, taste, sound, body awareness, body movement, or body position</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt50 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h3>Occupational therapy is the primary service for children and adolescents diagnosed with: </h3>
				</div>
				<div class="com_tab-slider">
					<div class="row">
						<div class="col-md-5">
							<div class="com_tab-slider-nav pr-md-3">
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Neurodevelopmental Disorder</div>
									<div class="com_tab-slider-content">
										<p>Neurodevelopmental disorders are conditions that occur due to the impaired development of the central nervous system. The signs and symptoms are mostly apparent in the early years of life, and affects an individual across the lifespan. Autism Spectrum Disorder (ASD), Attention Deficit / Hyperactivity Disorder (ADHD), Specific Learning Disorder, Global Developmental Delay (GDD) and Intellectual Disabilities are neurodevelopmental disorders that benefit from occupational therapy services.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Sensory Processing Disorder</div>
									<div class="com_tab-slider-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Genetic Disorder</div>
									<div class="com_tab-slider-content">
										<p>Neurodevelopmental disorders are conditions that occur due to the impaired development of the central nervous system. The signs and symptoms are mostly apparent in the early years of life, and affects an individual across the lifespan. Autism Spectrum Disorder (ASD), Attention Deficit / Hyperactivity Disorder (ADHD), Specific Learning Disorder, Global Developmental Delay (GDD) and Intellectual Disabilities are neurodevelopmental disorders that benefit from occupational therapy services.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Developmental Coordination Disorder / Dyspraxia</div>
									<div class="com_tab-slider-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Cerebral Palsy</div>
									<div class="com_tab-slider-content">
										<p>Neurodevelopmental disorders are conditions that occur due to the impaired development of the central nervous system. The signs and symptoms are mostly apparent in the early years of life, and affects an individual across the lifespan. Autism Spectrum Disorder (ASD), Attention Deficit / Hyperactivity Disorder (ADHD), Specific Learning Disorder, Global Developmental Delay (GDD) and Intellectual Disabilities are neurodevelopmental disorders that benefit from occupational therapy services.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Global Developmental Delay </div>
									<div class="com_tab-slider-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="ta-sl-main">
								<div class="ta-sl-bg-box" style="background-image: url('assets/img/therapy-services/icon_occupational_therapy.png');"></div>
								<div class="ta-sl-center">
									<div class="com_tab-slider-main"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="row section-par">
					<div class="col-md-6">
						<h2>Assessment</h2>
						<p>During the first session, the Occupational Therapist carries out standard and thorough screening and assessment protocols to identify problems and formulate therapy goals.</p>
					</div>
					<div class="col-md-6">
						<h5 class="mb40">Standardized assessment tools available include: </h5>
						<ul class="list-tick">
							<li>Sensory Profile</li>
							<li>Visual Motor Integration</li>
							<li>Bruininks-Oseretsky Test of Motor Proficiency (BOT-2)</li>
							<li>Peabody Developmental Motor Scales</li>
							<li>Test of Visual Perceptual Skills</li>
							<li>Movement ABC</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt0 mb100 mob-mb0 animate" data-animate="parent">
			<div class="container width-4 animate" data-animate="child">
				<div class="section-par text-center">
					<h2>Intervention</h2>
					<p>Our Occupational Therapists use holistic and evidence-based approaches to cater to your child's needs and foster functional skills needed for everyday life. They are trained in various evidence-based approaches, such as:</p>
				</div>
			</div>
		</div>
		<div class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Handwriting without Tears</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Sensory Integration Therapy</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Visual Motor and Perceptual Training</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Baby Exercise (Therapeutic exercises for Infancy to toddler)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-eleven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-twelve com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="oc-th-section-two"></div>
</div>
{% endblock %}