{% set pageTitleMeta = 'Physiotherapy - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container">
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="519,573,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 15.88%; left: -0; width: 100%; height: 75.39%;">
									<img src="assets/img/therapy-services/banner_physiotherapy_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 0; left: 0;">
									<img src="assets/img/therapy-services/banner_physiotherapy_one_b.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Physiotherapy</h1>
									<h5 class="mb-3">Overview</h5>
									<p>Physiotherapy aims to help an individual optimise and develop one's mobility, function and independence.</p>
									<p>In Olive Tree, we provide paediatric physiotherapy to children between 0-7 years old. Treatment will aim to develop the prerequisite skills needed to independently participate in daily life activities:</p>
									<div class="mt-5">
										<h5 class="mb40">Prerequisites skills are:</h5>
										<ul class="list-tick">
											<li>Body stability or postural control (head, trunk  and pelvic control)</li>
											<li>Body balance and coordination</li>
											<li>Muscle strength</li>
											<li>Muscle tone</li>
											<li>Range of motion</li>
											<li>Developmental  mobility skills</li>
											<li>Integration of reflexes</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid physio-section-three animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="ta-sl-main main-v2">
					<div class="ta-sl-bg-box"></div>
					<div class="ta-sl-center">
						<div class="section-par pt40 pb30 text-center">
							<h3>Physiotherapy benefits those with:</h3>
						</div>
						<div class="com_tab-slider-main">
							<div class="row">
								<div class="col-lg-4 col-md-6 mb20 mob-mb30">
									<div class="section-par">
										<p class="co-moss-green"><strong>Musculoskeletal and Sports Injuries</strong></p>
										<ul class="list-tick-2">
											<li>Back and joint pain</li>
											<li>Postural problems</li>
											<li>Soft tissue injury</li>
											<li>Gait abnormality</li>
											<li>Hypermobility</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 mb20 mob-mb30">
									<div class="section-par">
										<p class="co-moss-green"><strong>Orthopaedic Conditions</strong></p>
										<ul class="list-tick-2">
											<li>Fractures</li>
											<li>Positional talipes</li>
											<li>Erb's palsy</li>
											<li>Torticollis</li>
											<li>Plagiocephaly</li>
											<li>Perthes</li>
											<li>Before and after surgery, including multilevel surgery for cerebral palsy and other neurological conditions, SUFE's</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 mb20 mob-mb30">
									<div class="section-par">
										<p class="co-moss-green"><strong>Neurological Conditions</strong></p>
										<ul class="list-tick-2">
											<li>Genetic syndromes</li>
											<li>Cerebral palsy</li>
											<li>Head injuries</li>
											<li>Spinal injuries</li>
											<li>Brain tumors</li>
											<li>Neuromuscular conditions (e.g. duchenne muscular dystrophy, spinal muscular atrophy</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 mb20 mob-mb30">
									<div class="section-par">
										<p class="co-moss-green"><strong>Developmental Conditions</strong></p>
										<ul class="list-tick-2">
											<li>Developmental delay</li>
											<li>Preterm and premature babies</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 mb20 mob-mb30">
									<div class="section-par">
										<p class="co-moss-green"><strong>Respiratory Conditions</strong></p>
										<ul class="list-tick-2">
											<li>Cystic  fibrosis</li>
											<li>Oronchiectasis</li>
											<li>Children with long-term ventilation</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="row section-par">
					<div class="col-md-6">
						<h2>Assessment</h2>
						<p>The Physiotherapist will observe the child's movement, posture, strength and tone of the upper and lower limbs, as well as movement in the joints. From the assessment, a specific treatment programme will then be tailored to the child's individual needs and goals. It is essential that treatment is age-appropriate and fun to ensure good compliance and to enable integration into the child's daily routine.</p>
					</div>
					<div class="col-md-6">
						<h5 class="mb40">Below is a list of assessment procedures that the Physiotherapist conducts in the clinic:</h5>
						<ul class="list-tick">
							<li>Ocular inspection</li>
							<li>Palpation</li>
							<li>Range of motion</li>
							<li>The integrity of muscle and joints</li>
							<li>Balance and tolerance</li>
							<li>Postural Control</li>
							<li>Anthropometric  Measurements</li>
							<li>Testing of reflexes</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt0 mb100 mob-mb0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-par text-center">
					<h2>Intervention</h2>
					<p>Physiotherapy intervention uses evidenced-based approaches to teach children to engage in the environment given their physical limitations, achieve their maximum potential and actively participate in play and other childhood activities.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="container width-3 section-title text-center">
					<h3>We provide the following types of intervention in our Physiotherapy program:</h3>
				</div>
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Neuro-Developmental Treatment (NDT)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>Neuro-Developmental Treatment (NDT) Techniques, a group of functional treatment approaches based on the principles of neuroplasticity</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Gait Training</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Hands-on facilitation technique for developing movement pattern</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Postural awareness exercises</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Manual Therapy to manipulate soft tissue and joint</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of therapeutic modality </div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of strengthening exercise (functional and progressive resistive exercises)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of therapeutic modality</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Use of strengthening exercise (functional and progressive resistive exercises)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Specialist stretching exercises for the child's condition</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Assessment and recommendation for assistive and adaptive devices needed, such as splints or walking aid</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>The Handwriting Without Tears<sup>&reg;</sup> (HWT) program uses teaching strategies that are multisensory and developmentally appropriate for children. Readiness activities in pre-k and kindergarten prepare children for pencil and paper activities. Using hands-on teaching strategies, therapists and teachers are able to meet the needs of each child's individual learning style.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-eleven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-twelve com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="physio-section-three"></div>
</div>
{% endblock %}