{% set pageTitleMeta = 'Programs And Services - Olive Tree Development Center' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center pb100 mob-pb0">
					<h1>Programs And Service</h1>
				</div>
				<div class="row align-items-center mob-mb50 pr-se-one">
					<div class="col-md-6">
						<div class="com_floating-content pr-se-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="253,326,maxWidth">
								<div class="com_floating-item">
									<img src="assets/img/programs-and-services/banner_intervention_program.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section-par">
							<h3>
								Olive Tree <br>
								Intervention Program
							</h3>
							<p>The Olive Tree Intervention Program is a holistic approach towards learning for all developmental differences. The Program is designed to simulate a school setting by providing small group interventions with a teacher-child ratio of 1:2 or 2:5 at maximum.</p>
							<div class="mt-4">
								<a class="button button-primary btn-border link-animate" href="intervention-program.html">Find Out More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center flex-md-row-reverse mt30 mob-mb50 pr-se-four">
					<div class="col-md-6 mob-mb30">
						<div class="com_floating-content pr-se-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="500,448,maxWidth">
								<div class="com_floating-item">
									<img src="assets/img/programs-and-services/banner_therapy_services.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section-par">
							<h3>Therapy Services</h3>
							<p>Some children require more intensive support to encourage development in specific areas. We offer the following therapy services to address these precise needs.</p>
							<div class="mt-4">
								<a class="button button-primary btn-border link-animate" href="therapy-services.html">Find Out More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center mob-mb50">
					<div class="col-md-6 mob-mb30">
						<div class="com_floating-content pr-se-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="425,511,maxWidth">
								<div class="com_floating-item">
									<img src="assets/img/programs-and-services/banner_specialized_programs.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section-par">
							<h3>Specialized Programs</h3>
							<p>The Social Skills Program is a group-based intervention developed to help children ages 4 to 12 years learn and improve on their social skills through play and shared experiences. This program helps the child engage, self-regulate and communicate within a social setting, encouraging positive behaviors and reducing inappropriate ones. </p>
							<div class="mt-4">
								<a class="button button-primary btn-border link-animate" href="specialized-programs.html">Find Out More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center flex-md-row-reverse mob-mb50">
					<div class="col-md-6 mob-mb30">
						<div class="com_floating-content pr-se-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="329,382,maxWidth">
								<div class="com_floating-item">
									<img src="assets/img/programs-and-services/banner_psychological_assessment.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section-par">
							<h3>Psychological Assessment</h3>
							<p>Our MOE-certified Educational Psychologists provide comprehensive diagnostic assessments using clinically proven tests and assessment tools for children who experience a wide range of learning, behavioural or developmental difficulties.</p>
							<div class="mt-4">
								<a class="button button-primary btn-border link-animate" href="psychological-assessment.html">Find Out More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center mob-mb50 pr-se-five">
					<div class="col-md-6 mob-mb30">
						<div class="com_floating-content pr-se-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="608,579,maxWidth">
								<div class="com_floating-item">
									<img src="assets/img/programs-and-services/banner_tele_therapy.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section-par">
							<h3>Tele Therapy</h3>
							<p>
								We provide TeleTherapy (online-based therapy) for all individual intervention services in the Centre.<br>
								Your family will benefit from Teletherapy if you.
							</p>
							<div class="mt-4">
								<a class="button button-primary btn-border link-animate" href="tele-therapy.html">Find Out More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-seven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="pr-se-one"></div>
	<div class="com_olive-tree-bg bg-eight com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="pr-se-four"></div>
	<div class="com_olive-tree-bg bg-nine com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="pr-se-five"></div>
</div>
{% endblock %}