{% set pageTitleMeta = 'Psychological Assessment - Olive Tree Development Center' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 ps-as-one animate" data-animate="parent">
			<div class="container">
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="490,477,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 32.28%; left: 0; width: 45.51%;">
									<img src="assets/img/programs-and-services/banner_ps_as_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 0; right: 0; width: 65.10%;">
									<img src="assets/img/programs-and-services/banner_ps_as_one_b.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Psychological Assessment</h1>
									<p>Our MOE-certified Educational Psychologists provide comprehensive diagnostic assessments using clinically proven tests and assessment tools for children who experience a wide range of learning, behavioural or developmental difficulties.</p>
									<div class="mt50">
										<h5 class="mb40">We offer the following types of assessment:</h5>
										<ul class="list-tick">
											<li>
												Psycho-Educational Assessment for Dyslexia, Specific <br>
												Learning Disability, IQ &amp; Academic Skills
											</li>
											<li>Autism Diagnostic Assessment</li>
											<li>ADHD / ADD Diagnostic Assessment</li>
											<li>Gifted Assessment</li>
											<li>School Readiness Assessment</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center mt50 animate" data-animate="child">
					<div class="col-md-6 mob-mb30">
						<div class="com_banner-content ps-as-banner-two">
							<div class="com_aspect-ratio" data-aspect-ratio="575,373,maxWidth">
								<div class="com_parallax-item" data-parallax="5">
									<img src="assets/img/programs-and-services/banner_ps_as_two_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 0; left: 15.82%; width: 63.30%;">
									<img src="assets/img/programs-and-services/banner_ps_as_two_b.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h5 class="mb40">The Psychologist may carry out any or a combination of the following to obtain the information she needs: </h5>
									<ul class="list-tick">
										<li>Standardized tests</li>
										<li>Informal tests</li>
										<li>Interviews</li>
										<li>Surveys</li>
										<li>Review of school of medical records</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt50 flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb30">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="668,456,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 0; left: 0; width: 100%;">
									<img src="assets/img/programs-and-services/banner_ps_as_three_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 22.14%; left: 2.39%; width: 97.60%;">
									<img src="assets/img/programs-and-services/banner_ps_as_three_b.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="15" style="top: 45.39%; left: 6.73%; width: 80.68%;">
									<img src="assets/img/programs-and-services/banner_ps_as_three_c.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h5 class="mb40">Some of the standardized tests used in the Centre are:</h5>
									<ul class="list-tick">
										<li>Wechsler Intelligence Scale for Children </li>
										<li>Wechsler Individual Achievement Test</li>
										<li>Vineland Adaptive Behavior Scales</li>
										<li>Autism Diagnostic Observation Schedule (ADOS)</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-ten com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="ps-as-one"></div>
</div>
{% endblock %}