{% set pageTitleMeta = 'Resources - Olive Tree Development Center' %}
{% set activePage = 'resources' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div id="professional-development" class="container-fluid animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h1>Professional Development</h1>
				</div>
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="469,475,maxWidth">
								<div class="com_parallax-item bp-ab">
									<img src="assets/img/resources/banner_resources_one.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<p>Olive Tree, with the aim of providing support for children, parents and educators, also offers a range of Professional Development programmes, catered to educators in the field to enhance their knowledge in the area of children with special needs. These training workshops will aid educators in their preparation for classroom management for these children and better equipping them with skills in their various educational settings. Olive Tree has a team of skilled therapists who are well-equipped and trained in various therapy interventions to provide quality training in these areas:</p>
									<div class="mt-5">
										<h5 class="mb40">Training Course For Teachers and other Professionals: </h5>
										<ul class="list-tick">
											<li>Classroom Management and Behavior Management Techniques </li>
											<li>Handwriting without tears- Handwriting Without Tears</li>
											<li>Visualizing and verbalizing</li>
											<li>Social Skills and Social Thinking</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid res-section-two mt100 mob-mt50 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="row animate" data-animate="child">
				<div class="col-md-6 mob-mb50">
					<div class="com_banner-content">
						<div class="com_aspect-ratio" data-aspect-ratio="527,429,maxWidth">
							<div class="com_parallax-item bp-ab">
								<img src="assets/img/resources/banner_resources_two.png" alt="">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row justify-content-end">
						<div class="col-lg-10">
							<div class="section-par">
								<h2>Parent Training and Learning Kit</h2>
								<p>Working closely with parents and caregivers who are equipped with knowledge and the right tools for effective follow through of recommended home activities will increase positive outcomes of your child’s intervention programme.</p>
								<p>The Olive Tree early intervention team, however, understands the challenges behind achieving an effective home learning environment. One such challenge is providing adequate understanding of basic principles of an early intervention (EI) programme.  Another challenge lies in choosing materials, toys, and worksheets that are appropriate for implementation of your child’s individual education plan (IEP) at home. </p>
								<p>To address these challenges, our early intervention team has developed a training programme that will support parents and caregivers by teaching strategies that are useful during follow through activities.  This training programme comes with an individualized learning kit inclusive of therapist practice session, parent practice session, and feedback session to simulate several environmental and restructuring strategies that will increase the likelihood of your child’s participation. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
		<div id="parent-training-workshops" class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="container width-2 section-title text-center">
					<h3>Parent-training Workshops:</h3>
				</div>
				<div class="th-se-list animate" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ptw.png" alt=""></div>
						<div class="com_accordion-title">Word Builders:</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>This parent-child workshop will teach you fun engaging activities that will help your child learn his/her first words.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ptw.png" alt=""></div>
						<div class="com_accordion-title">Narrate and Relate:</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>This Program is focused on developing your child’s ability to tell a story. Activities will be conducted in a language rich environment where discussions and conversations are encouraged in for each child to share his/her unique experiences.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ptw.png" alt=""></div>
						<div class="com_accordion-title">React and Interact:</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>This program will help your child to participate in fun and exciting activities with their peers by building social -emotional skills, self-regulation and appropriate use of language. Children within this program will have the opportunity to participate in role playing and interactive games to boost their confidence around their peers.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ptw.png" alt=""></div>
						<div class="com_accordion-title">Picture Talk:</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>This is a parent child language workshop where you will learn how pictures and guided discussions can help to develop imagery to increase the complexity of your child’s oral comprehension and expressive language.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ptw.png" alt=""></div>
						<div class="com_accordion-title">Read with me:</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>(pre-readers to early readers): This program introduces the approach of blending for the child to understand how each letter plays an important role in a word and using it strategically to read. Acquiring the skills of blending encourages your child to decode and spell easily.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="our-blog" class="container-fluid mb-0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h1>Our Blog</h1>
				</div>
				<div>
					<ul class="re-bl-list list-2 group-height links-animate animate" data-animate="child">
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog1.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog2.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog3.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
						<li>
							<a class="re-bl-set gh3" href="blog-details.html">
								<div class="com_aspect-ratio com_banner" data-aspect-ratio="498,338" style="background-image: url('assets/img/resources/banner_blog4.jpg');"></div>
								<div class="re-bl-par gh2">
									<div class="section-par">
										<p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
									</div>
									<p class="re-bl-capt mb-0">Posted by Mikey D.</p>
								</div>
							</a>
						</li>
					</ul>
					<div class="text-center pt20 mt50 mob-mt50">
						<a class="button button-primary button-width-4" href="#">See more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-twelve com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="res-section-two"></div>
	<div class="com_olive-tree-bg bg-seventeen com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
</div>
{% endblock %}