{% set pageTitleMeta = 'Specialized Programs - Olive Tree Development Center' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main bg-dupain">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid mb-0 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h1>Specialized Programs</h1>
				</div>
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ssp.png" alt=""></div>
						<div class="com_accordion-title">Social Skills Program</div>
						<div class="com_accordion-content pt10">
							<div class="section-par">
								<h5><strong>Overview</strong></h5>
								<p>The Social Skills Program is a group-based intervention developed to help children ages 4 to 12 years learn and improve on their social skills through play and shared experiences. This program helps the child engage, self-regulate and communicate within a social setting, encouraging positive behaviors and reducing inappropriate ones. </p>
								<br>
								<div class="row">
									<div class="col-md-6 col-lg-7 mob-mb40">
										<div class="section-par">
											<h5><strong>Children who benefit from the Social Skill Program may have:</strong></h5>
											<ul class="list-tick tick-orange">
												<li>Difficulty playing and communicating efficiently with peers</li>
												<li>Difficulty staying focused during group activities</li>
												<li>Difficulty in self-management or responsible</li>
												<li>Decision-making</li>
												<li>Delays in language</li>
												<li>Limited success in current playgroup or preschool settings</li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="bp-img text-center">
											<img src="assets/img/programs-and-services/banner_specialized_program_1.png" alt="">
										</div>
									</div>
								</div>
								<br>
								<h5><strong>Intervention</strong></h5>
								<p>Core social skills are taught within a safe and encouraging environment through engaging environments that incorporate multisensory play, creative projects and social activities. Through these planned opportunities, children develop crucial relational skills such as recognizing emotions, risk assessment, giving and following instructions, empathy and self-leadership. Therapists adapt a combination of instructional materials from the Social Thinking<sup>&reg;</sup>, Pearson's Social Skills Improvement System - Social Emotional Learning (SSIS - SEL) Edition, and the Classwide Intervention Programme (CIP).</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_stp.png" alt=""></div>
						<div class="com_accordion-title">Social Thinking<sup>&reg;</sup> Program</div>
						<div class="com_accordion-content pt10">
							<div class="section-par">
								<h5><strong>Overview</strong></h5>
								<p>Social Thinking<sup>&reg;</sup> is an evidence-based protocol that uses cognitive strategies to help individuals improve their social competencies, such as</p>
								<div class="row align-items-center">
									<div class="col-md-6 col-lg-7 mob-mb40">
										<div class="section-par">
											<ul class="list-tick tick-orange">
												<li>Self-awareness</li>
												<li>Self-regulation</li>
												<li>Social-emotional learning</li>
												<li>Perspective-taking</li>
												<li>Social problem-solving skills</li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="bp-img text-center">
											<img src="assets/img/programs-and-services/banner_specialized_program_2.png" alt="">
										</div>
									</div>
								</div>
								<p>This program teaches children to actively process real-time social encounters, identify what is expected in each context, and actively find solutions to any challenges. </p>
								<br>
								<h5><strong>Intervention</strong></h5>
								<p>The therapist presents each social skill or theme to the group in modules. Through a variety of activities, student will:</p>
								<ul class="list-tick tick-orange">
									<li>Learn to describe expected and unexpected behaviors </li>
									<li>Participate in role-playing scenarios</li>
									<li>Discuss social strategies with peers</li>
									<li>Relate topics to own experiences</li>
									<li>Complete weekly tasks</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_efp.png" alt=""></div>
						<div class="com_accordion-title">Executive Function Program (EF)</div>
						<div class="com_accordion-content pt10">
							<div class="section-par">
								<h5><strong>Overview</strong></h5>
								<p>The executive functions are a set of skills that underlie the capacity for adaptive and appropriate behaviors in a person's academic, physical and social environment. Many children lack these critical skills for</p>
								<div class="row align-items-center">
									<div class="col-md-6 col-lg-7 mob-mb40">
										<div class="section-par">
											<ul class="list-tick tick-orange list-2">
												<li>Planning / prioritization</li>
												<li>Attention</li>
												<li>Time management</li>
												<li>Metacognition</li>
												<li>organization</li>
												<li>Emotional control</li>
												<li>Task initiation</li>
												<li>Flexibility</li>
												<li>Working memory</li>
												<li>Goal-directed persistence </li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="bp-img text-center">
											<img src="assets/img/programs-and-services/banner_specialized_program_3.png" alt="">
										</div>
									</div>
								</div>
								<br>
								<h5><strong>Intervention</strong></h5>
								<p>The occupational therapist and educational specialists facilitates several activities that build on these executive function skills. These include: </p>
								<ul class="list-tick tick-orange">
									<li>complex obstacle courses for decision making, body awareness, planning and sequencing</li>
									<li>Tabletop / academic activities for critical thinking and problem solving</li>
									<li>Hands-on activities such as strategies games and model-making</li>
									<li>Educational learning strategies</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_vvp.png" alt=""></div>
						<div class="com_accordion-title">Visualizing &amp; Verbalizing<sup>&reg;</sup> Program (V&amp;V)</div>
						<div class="com_accordion-content pt10">
							<div class="section-par">
								<h5><strong>Overview</strong></h5>
								<p>The Visualizing and Verbalizing<sup>&reg;</sup> (V/V<sup>&reg;</sup>) programme is a research-validated methodology which enhances language comprehension and higher-order thinking by developing an individual's concept imagery- the ability to visualize the main idea or overall picture. The ability to stimulate a complete and dynamic mental imagery from language is essential to reading and listening comprehension, memory, vocabulary, and critical thinking. </p>
 								<p>V/V<sup>&reg;</sup> is based on sensory-cognitive processes. It utilizes Socratic questioning techniques to help students develop an excellent imagery-language connection to enhance their language comprehension and critical thinking abilities. Students start by describing (verbalization) real pictures presented to them, followed by retelling imagined images. Subsequently, students are taught to create mental images (visualization) of sentences, paragraphs, and eventually whole texts. Through V/V<sup>&reg;</sup>, students will be able to integrate and apply concept imagery to formal school instruction independently.</p>
 								<div class="bp-img text-center mt20 mb30">
 									<img src="assets/img/programs-and-services/banner_specialized_program_4.png" alt="">
 								</div>
								<p>V/V<sup>&reg;</sup> is for individuals who face difficulties in language comprehension (reading &amp; listening). Individuals with weak concept imagery or language comprehension may experience:</p>
								<ul class="list-tick tick-orange">
									<li>Difficulties in reading and listening comprehension</li>
									<li>Problems with critical thinking and problem solving</li>
									<li>Difficulties interpreting social situations or grasping humour</li>
									<li>Difficulties in oral and written language expression</li>
									<li>Poor understanding of text despite being fluent in reading</li>
								</ul>
								<br>
								<h5><strong>Intervention</strong></h5>
								<p>The educational specialists apply socratic questioning techniques to help students build imagery-language connections, improving their critical thinking and comprehension skills. Students may start by describing pictures presented in front of them (Verbalizing), followed by retelling imagined images. Later on, students are then taught to create mental images of simple sentences, paragraphs, and eventually whole texts (Visualizing). The end goal is for students to be able to independently integrate and apply concept imagery to formal school instruction.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ndp.png" alt=""></div>
						<div class="com_accordion-title">Narrative Development Program</div>
						<div class="com_accordion-content pt10">
							<div class="section-par">
								<h5><strong>Overview</strong></h5>
								<p>The Narrative Development Program is a two-tier curriculum enriching a child's ability to generate, retell and recall stories and experiences. Such skills include: </p>
								<div class="row align-items-center">
									<div class="col-md-6 col-lg-7 mob-mb40">
										<div class="section-par">
											<ul class="list-tick tick-orange">
												<li>Complex sentence construction</li>
												<li>Solving word </li>
												<li>Building grade-level vocabulary</li>
												<li>Written composition skills</li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="bp-img text-center">
											<img src="assets/img/programs-and-services/banner_specialized_program_5.png" alt="">
										</div>
									</div>
								</div>
								<br>
								<h5><strong>Intervention</strong></h5>
								<p>The therapist uses a variety of skill-based activities and simulations to elicit discourse. These include: </p>
								<ul class="list-tick tick-orange">
									<li>complex obstacle courses for decision making, body awareness, planning and sequencing</li>
									<li>Tabletop / academic activities for critical thinking and problem solving</li>
									<li>Hands-on activities such as strategies games and model-making</li>
									<li>Educational learning strategies</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ilsp.png" alt=""></div>
						<div class="com_accordion-title">Integrative Language and Sensory Program</div>
						<div class="com_accordion-content pt10">
							<div class="section-par">
								<h5><strong>Overview</strong></h5>
								<p>The Integrative Language and Sensory Program is a group-based curriculum facilitated by both an occupational therapist and an educational specialist. It is a specialized intervention that ensures that language skills are learned and used consistently in more dynamic activities.</p>
								<br>
								<div class="row align-items-center">
									<div class="col-md-6 col-lg-7 mob-mb40">
										<div class="section-par">
											<h5><strong>Your child may benefit from this program if he/she: </strong></h5>
											<ul class="list-tick tick-orange">
												<li>has difficulty in self regulating in a group setting</li>
												<li>has difficulty communicating in a variety of situations</li>
												<li>has difficulty combining different skills together to perform a tasks</li>
												<li>struggles to play games with others</li>
												<li>has history of both motor and language delays</li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="bp-img text-center">
											<img src="assets/img/programs-and-services/banner_specialized_program_6.png" alt="">
										</div>
									</div>
								</div>
								<br>
								<h5><strong>Intervention</strong></h5>
								<p>The occupational therapists and educational specialists will work together to create and optimize learning environments for the children. Some activities that may be used include:</p>
								<ul class="list-tick tick-orange">
									<li>Sensory motor activities</li>
									<li>Obstacle course and relay games</li>
									<li>Collaborative projects (e.g. building a tower together)</li>
									<li>Speaking and listening given varying degrees of background distractions</li>
									<li>Board and party games that involve both verbal and non-verbal communication</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_ilsp.png" alt=""></div>
						<div class="com_accordion-title">Integrated Early Start Program</div>
						<div class="com_accordion-content pt10">
							<div class="section-par">
								<h5><strong>Overview</strong></h5>
								<p>The Integrative Language and Sensory Program is a group-based curriculum facilitated by both an occupational therapist and an educational specialist. It is a specialized intervention that ensures that language skills are learned and used consistently in more dynamic activities.</p>
								<br>
								<div class="row align-items-center">
									<div class="col-md-6 col-lg-7 mob-mb40">
										<div class="section-par">
											<h5><strong>Your child may benefit from this program if he/she: </strong></h5>
											<ul class="list-tick tick-orange">
												<li>has difficulty in self regulating in a group setting</li>
												<li>has difficulty communicating in a variety of situations</li>
												<li>has difficulty combining different skills together to perform a tasks</li>
												<li>struggles to play games with others</li>
												<li>has history of both motor and language delays</li>
											</ul>
										</div>
									</div>
									<div class="col-md-6 col-lg-5">
										<div class="bp-img text-center">
											<img src="assets/img/programs-and-services/banner_specialized_program_7.png" alt="">
										</div>
									</div>
								</div>
								<br>
								<h5><strong>Intervention</strong></h5>
								<p>The occupational therapists and educational specialists will work together to create and optimize learning environments for the children. Some activities that may be used include: </p>
								<ul class="list-tick tick-orange">
									<li>Sensory motor activities</li>
									<li>Obstacle course and relay games</li>
									<li>Collaborative projects (e.g. building a tower together)</li>
									<li>Speaking and listening given varying degrees of background distractions</li>
									<li>Board and party games that involve both verbal and non-verbal communication</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-fifteen com_anim-keyframe" data-anim-keyframe='[{"4000":"-200"}]' data-bg-dependent="com_olive-tree-bottom"></div>
</div>
{% endblock %}