{% set pageTitleMeta = 'Speech Therapy - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container">
				<div class="row flex-md-row-reverse animate" data-animate="child">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content">
							<div class="com_aspect-ratio" data-aspect-ratio="558,535,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 4.11%; left: -0; width: 93.01%; height: 80.74%;">
									<img src="assets/img/therapy-services/banner_speech_therapy_one_a.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="bottom: 0; right: 0; width: 90.14%; height: 100%;">
									<img src="assets/img/therapy-services/banner_speech_therapy_one_b.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Speech Therapy</h1>
									<h5 class="mb-3">Overview</h5>
									<p>Speech Therapy focuses on preventing, assessing, diagnosing and treating speech, communication and feeding disorders. In Olive Tree, your Speech Therapist will work closely with the whole family to ensure that a child will be able to express himself and connect with others through language in the best way he can. We also work with children with difficulties in feeding and swallowing.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-end sp-th-section-two animate" data-animate="child">
					<div class="col-lg-11">
						<div class="section-par">
							<h5 class="mb40">Your child will benefit from Speech Therapy if he/she:</h5>
							<ul class="list-tick list-2">
								<li>Does not babble as an infant</li>
								<li>Does not use simple sentences by 3 years of age</li>
								<li>Does not seem to react or respond when others talk to him or call his name</li>
								<li>Has trouble playing with other children</li>
								<li>Says only a few words by 2 years of age </li>
								<li>Has speech that is difficult to understand by 3 years of age</li>
								<li>Does not seem to understand instructions</li>
								<li>Does not eat age-appropriate food (e.g. bottled milk and spooned purees during infancy, drinking cups and finger food during toddlerhood)</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt50 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="section-title text-center">
					<h3>Speech Therapy is the standard treatment for children and adolescents diagnosed with:</h3>
				</div>
				<div class="com_tab-slider">
					<div class="row">
						<div class="col-md-5">
							<div class="com_tab-slider-nav pr-md-3">
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Language Disorder</div>
									<div class="com_tab-slider-content">
										<p>A Language Disorder is diagnosed when language development does not follow the typical progression. It is commonly associated with Global Developmental Delay, Autism Spectrum Disorder, Down Syndrome, hearing impairment, early developmental impairment, and other problems in neurological or cognitive functioning.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Speech Sound Disorder</div>
									<div class="com_tab-slider-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Social Communication Disorder( SCD)</div>
									<div class="com_tab-slider-content">
										<p>A Language Disorder is diagnosed when language development does not follow the typical progression. It is commonly associated with Global Developmental Delay, Autism Spectrum Disorder, Down Syndrome, hearing impairment, early developmental impairment, and other problems in neurological or cognitive functioning.</p>
									</div>
								</div>
								<div class="com_tab-slider-items">
									<div class="com_tab-slider-title">Childhood-Onset Fluency Disorder (stuttering</div>
									<div class="com_tab-slider-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="ta-sl-main">
								<div class="ta-sl-bg-box" style="background-image: url('assets/img/therapy-services/icon_occupational_therapy.png');"></div>
								<div class="ta-sl-center">
									<div class="com_tab-slider-main"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt100 mob-pt50 animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="row section-par">
					<div class="col-md-6">
						<h2>Assessment</h2>
						<p>The Speech Therapist will conduct an assessment during the first session.  A number of procedures will be carried out to elicit and observe your child's strengths and challenges in communication.</p>
					</div>
					<div class="col-md-6">
						<h5 class="mb40">Standardized assessment tools available include:</h5>
						<ul class="list-tick">
							<li>Clinical Evaluation of Language Fundamentals - Fourth Edition (CELF-4)</li>
							<li>Preschool Language Scale - Fifth Edition (PLS-5)</li>
							<li>Westby Symbolic Play Scale (WSPS)</li>
							<li>Goldman-Fristoe Test of Articulation (GFTA)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt50 mob-mt0 mb100 mob-mb0 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="section-par text-center">
					<h2>Intervention</h2>
					<p>Our Speech Therapists use both evidence-based treatment protocols, all tailored to your child's individual needs. The therapy sessions are carried out in an engaging and meaningful manner, and treatment programs are designed to involve the entire family.</p>
				</div>
			</div>
		</div>
		<div class="container-fluid th-se-bottom-content animate" data-animate="parent">
			<div class="container width-2 animate" data-animate="child">
				<div class="container width-3 section-title text-center">
					<h3>Our Speech Therapists are trained in various evidence-based approaches, such as:</h3>
				</div>
				<div class="com_accordion th-se-acc animate" open-first="true" data-animate="child">
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">"It Takes Two to Talk" Hanen Parent Training Program</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>It Takes Two to Talk<sup>&trade;</sup> is a well-known model of family-focused early language intervention for young children with expressive and/or receptive language difficulties. The goal of this workshop is to empower parents to become their child's primary verbal behaviour facilitator, thereby maximising the child's opportunities for communication development in everyday situations. "It Takes Two to Talk" is best suited to treating late-talking toddlers and preschool-age children with specific language impairment and children with cognitive and developmental delays under the age of five.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Oral - Placement Therapy</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>It Takes Two to Talk<sup>&trade;</sup> is a well-known model of family-focused early language intervention for young children with expressive and/or receptive language difficulties. The goal of this workshop is to empower parents to become their child's primary verbal behaviour facilitator, thereby maximising the child's opportunities for communication development in everyday situations. "It Takes Two to Talk" is best suited to treating late-talking toddlers and preschool-age children with specific language impairment and children with cognitive and developmental delays under the age of five.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Alternative and Augmentative Communication (AAC)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>It Takes Two to Talk<sup>&trade;</sup> is a well-known model of family-focused early language intervention for young children with expressive and/or receptive language difficulties. The goal of this workshop is to empower parents to become their child's primary verbal behaviour facilitator, thereby maximising the child's opportunities for communication development in everyday situations. "It Takes Two to Talk" is best suited to treating late-talking toddlers and preschool-age children with specific language impairment and children with cognitive and developmental delays under the age of five.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Prompts for Restructuring Oral Muscular Phonetic Targets (PROMPT)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>It Takes Two to Talk<sup>&trade;</sup> is a well-known model of family-focused early language intervention for young children with expressive and/or receptive language difficulties. The goal of this workshop is to empower parents to become their child's primary verbal behaviour facilitator, thereby maximising the child's opportunities for communication development in everyday situations. "It Takes Two to Talk" is best suited to treating late-talking toddlers and preschool-age children with specific language impairment and children with cognitive and developmental delays under the age of five.</p>
							</div>
						</div>
					</div>
					<div class="com_accordion-set">
						<div class="ts-acc-icon"><img src="assets/img/icon_binder.png" alt=""></div>
						<div class="com_accordion-title">Sequential - Oral - Sensory Approach to Feeding (SOS)</div>
						<div class="com_accordion-content">
							<div class="section-par">
								<p>It Takes Two to Talk<sup>&trade;</sup> is a well-known model of family-focused early language intervention for young children with expressive and/or receptive language difficulties. The goal of this workshop is to empower parents to become their child's primary verbal behaviour facilitator, thereby maximising the child's opportunities for communication development in everyday situations. "It Takes Two to Talk" is best suited to treating late-talking toddlers and preschool-age children with specific language impairment and children with cognitive and developmental delays under the age of five.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_olive-tree-bg bg-eleven com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="com_olive-tree-bottom"></div>
	<div class="com_olive-tree-bg bg-twelve com_anim-keyframe" data-anim-keyframe='[{"4000":"-100"}]' data-bg-dependent="sp-th-section-two"></div>
</div>
{% endblock %}