{% set pageTitleMeta = 'Teletherapy - Olive Tree Development Center' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid pt100 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="row flex-md-row-reverse">
					<div class="col-md-6 mob-mb50">
						<div class="com_banner-content te-th-banner-one">
							<div class="com_aspect-ratio" data-aspect-ratio="629,572,maxWidth">
								<div class="com_parallax-item bp-ab" data-parallax="5" style="top: 0; left: -10.17%; width: 120.98%; height: 100%;">
									<img src="assets/img/programs-and-services/banner_tele_therapy_one_b.png" alt="">
								</div>
								<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 0; left: 0;">
									<img src="assets/img/programs-and-services/banner_tele_therapy_one_a.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h1>Teletherapy</h1>
									<p>We provide TeleTherapy (online-based therapy) for all individual intervention services in the Centre.</p>
									<div class="mt50">
										<h5 class="mb40">Your family will benefit from Teletherapy if you:</h5>
										<ul class="list-tick">
											<li>Are living overseas</li>
											<li>Are not able to attend usual in-person sessions due to weather, logistics, and other circumstances.</li>
											<li>Would like to work on skills in the home environment in addition to in-person sessions.</li>
											<li>Would like other members of the household to learn strategies for support.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row align-items-center mt100">
					<div class="col-md-6 mob-mb30">
						<div class="com_banner-content te-th-banner-two">
							<div class="com_aspect-ratio" data-aspect-ratio="439,416,maxWidth">
								<div class="com_parallax-item" data-parallax="10">
									<img src="assets/img/programs-and-services/banner_tele_therapy_two.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row justify-content-end">
							<div class="col-lg-10">
								<div class="section-par">
									<h5 class="mb40">Teletherapy is effective because:</h5>
									<ul class="list-tick">
										<li>Parents/caregiver play active role in child's support and progress.</li>
										<li>Promotes generalisation of strategies learnt</li>
										<li>Allows appraisal of home environment to suit child's needs</li>
										<li>Builds synergistic therapist-caregiver relationship</li>
										<li>Immediate evaluation and feedback of child's response to strategies</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt40 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="com_banner-content">
					<div class="com_aspect-ratio" data-aspect-ratio="830,437,maxWidth">
						<div class="com_parallax-item" data-parallax="5">
							<img src="assets/img/programs-and-services/banner_tele_therapy_three_a.png" alt="">
						</div>
						<div class="com_parallax-item bp-ab" data-parallax="10" style="top: 0; left: 0; width: 100%;">
							<img src="assets/img/programs-and-services/banner_tele_therapy_three_b.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid pt50 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="section-title text-center">
					<h1>Teletherapy Video</h1>
				</div>
				<div class="com_owl-carousel com_gallery-carousel nav-1 car-1" data-carousel="responsive,false,false">
					<div class="item"><a class="ho-gal-set" data-fancybox href="https://www.youtube.com/watch?v=3wAMKUExgP0&pp=sAQA"><img src="assets/img/banner_video.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox href="https://www.youtube.com/watch?v=8g18jFHCLXk"><img src="assets/img/banner_video.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox href="https://www.youtube.com/watch?v=pGi3Bgn7U5U"><img src="assets/img/banner_video.jpg" alt=""></a></div>
					<div class="item"><a class="ho-gal-set" data-fancybox href="https://www.youtube.com/watch?v=pGi3Bgn7U5U"><img src="assets/img/banner_video.jpg" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}