{% set pageTitleMeta = 'Testimonials - Olive Tree Development Center' %}
{% set activePage = 'testimonials' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid animate" data-animate="parent">
			<div class="container width-3 animate" data-animate="child">
				<div class="section-title text-center animate" data-animate="child">
					<h1>Testimonials</h1>
					<div>
						<h2 class="d-inline title-border">What They Say <span class="no-wrap">About us</span></h2>
					</div>
				</div>
				<div class="com_owl-carousel com_quote-carousel carousel-v2 nav-1 car-1" data-carousel="responsive,testimonials,false">
					<div class="item">
						<div class="com_quote-box box-v2">
							<div class="com_quote-box-main">
								<div>
									<div class="d-flex align-items-center">
										<div class="qu-bo-img img-small img-border"><img src="assets/img/dummy/user_quote2.jpg" alt=""></div>
										<div class="section-par mt-2 ml-4">
											<h5 class="mb-0"><strong>Akshara and Abhiram</strong></h5>
										</div>
									</div>
									<div class="section-par mt-3">
										<p>We are very happy and satisfied with the progress they made after coming to Olive tree. Teacher Dax and Teacher Kathy are very friendly with the kids and helpful with us. They helped us with addressing our queries and concerns of the children and gave us hope and made the improvement in kids. Teacher Rox helped in changing their undesirable behavior and made them well-behaved and school ready. She also gave us confidence in our kids and helped them to coordinate more activities. Overall, we had a very fun and positive experience in the learning centre.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="com_quote-box box-v2">
							<div class="com_quote-box-main">
								<div>
									<div class="d-flex align-items-center">
										<div class="qu-bo-img img-small img-border"><img src="assets/img/dummy/user_quote2.jpg" alt=""></div>
										<div class="section-par mt-2 ml-4">
											<h5 class="mb-0"><strong>Akshara and Abhiram</strong></h5>
										</div>
									</div>
									<div class="section-par mt-3">
										<p>We are very happy and satisfied with the progress they made after coming to Olive tree. Teacher Dax and Teacher Kathy are very friendly with the kids and helpful with us. They helped us with addressing our queries and concerns of the children and gave us hope and made the improvement in kids. Teacher Rox helped in changing their undesirable behavior and made them well-behaved and school ready. She also gave us confidence in our kids and helped them to coordinate more activities. Overall, we had a very fun and positive experience in the learning centre.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="com_quote-box box-v2">
							<div class="com_quote-box-main">
								<div>
									<div class="d-flex align-items-center">
										<div class="qu-bo-img img-small img-border"><img src="assets/img/dummy/user_quote2.jpg" alt=""></div>
										<div class="section-par mt-2 ml-4">
											<h5 class="mb-0"><strong>Akshara and Abhiram</strong></h5>
										</div>
									</div>
									<div class="section-par mt-3">
										<p>We are very happy and satisfied with the progress they made after coming to Olive tree. Teacher Dax and Teacher Kathy are very friendly with the kids and helpful with us. They helped us with addressing our queries and concerns of the children and gave us hope and made the improvement in kids. Teacher Rox helped in changing their undesirable behavior and made them well-behaved and school ready. She also gave us confidence in our kids and helped them to coordinate more activities. Overall, we had a very fun and positive experience in the learning centre.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mb-0">
			<div class="container width-4 animate" data-animate="parent">
				<div class="row row-group-height text-center animate" data-animate="child">
					<div class="col-md-6 mb50 rgh-item">
						<div class="d-inline-block text-left">
							<div class="com_quote-box box-v3 rgh1 mob-gh0">
								<div class="com_quote-box-main">
									<div class="section-par">
										<p>Jonathan joined Olive Tree in Sep 2019 at 4+ years old. One year later he is reading and writing and has improved his self regulation alot. Very importantly also, he looks forward to go to Olive Tree and I believe the teachers all are very caring and warm. A big thank you to all at Olive Tree!</p>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center pl-5 ml-4 ml-sm-5 mt20 mob-mt20">
								<div class="qu-bo-img img-small"><img src="assets/img/dummy/user_quote3.jpg" alt=""></div>
								<div class="section-par mt-2 ml-4">
									<h5 class="mb-0"><strong>Jonathan</strong></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb50 rgh-item">
						<div class="d-inline-block text-left">
							<div class="com_quote-box box-v3 rgh1 mob-gh0">
								<div class="com_quote-box-main">
									<div class="section-par">
										<p>Very satisfied with Sushu's improvement and hope he can continue. Grateful for Sushu's therapists and hope we can all work hard together!</p>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center pl-5 ml-4 ml-sm-5 mt20 mob-mt20">
								<div class="qu-bo-img img-small"><img src="assets/img/dummy/user_quote4.jpg" alt=""></div>
								<div class="section-par mt-2 ml-4">
									<h5 class="mb-0"><strong>Sushu</strong></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb50 rgh-item">
						<div class="d-inline-block text-left">
							<div class="com_quote-box box-v3 rgh1 mob-gh0">
								<div class="com_quote-box-main">
									<div class="section-par">
										<p>We really appreciate all the teachers in Olive Tree in helping Phoebe get back on track. Thank you for creating a fun and safe educational environment for Phoebe. She really enjoys going to school so much more compared to last time. Shout out to Teacher Ling and Teacher Joyt. Thanks for showing so much love and care to Phoebe</p>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center pl-5 ml-4 ml-sm-5 mt20 mob-mt20">
								<div class="qu-bo-img img-small"><img src="assets/img/dummy/user_quote5.jpg" alt=""></div>
								<div class="section-par mt-2 ml-4">
									<h5 class="mb-0"><strong>Phoebe</strong></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb50 rgh-item">
						<div class="d-inline-block text-left">
							<div class="com_quote-box box-v3 rgh1 mob-gh0">
								<div class="com_quote-box-main">
									<div class="section-par">
										<p>First, we want to thank teachers for supporting us. We can find a lot of improvement in Krishnan. He is now waving hand while saying bye. His eagerness to learn new words has increased a lot. Initially, he was crying, now he is more compatible to go to school. His patience level has increased compared to before. He is now following instructions.</p>
										<p>First, we want to thank teachers for supporting us. We can find a lot of improvement in Krishnan. He is now waving hand while saying bye. His eagerness to learn new words has increased a lot. Initially, he was crying, now he is more compatible to go to school. His patience level has increased compared to before. He is now following instructions.</p>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center pl-5 ml-4 ml-sm-5 mt20 mob-mt20">
								<div class="qu-bo-img img-small"><img src="assets/img/dummy/user_quote6.jpg" alt=""></div>
								<div class="section-par mt-2 ml-4">
									<h5 class="mb-0"><strong>Krishnan</strong></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb50 rgh-item">
						<div class="d-inline-block text-left">
							<div class="com_quote-box box-v3 rgh1 mob-gh0">
								<div class="com_quote-box-main">
									<div class="section-par">
										<p>
											Gilang has made  tremendous progress during his first 5 weeks programs, and we are glad to see that he really enjoys the activities. <br>
											Thank you Olive Tree! <br>
											Reza's family
										</p>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center pl-5 ml-4 ml-sm-5 mt20 mob-mt20">
								<div class="qu-bo-img img-small"><img src="assets/img/dummy/user_quote7.jpg" alt=""></div>
								<div class="section-par mt-2 ml-4">
									<h5 class="mb-0"><strong>Gilang</strong></h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 mb50 rgh-item">
						<div class="d-inline-block text-left">
							<div class="com_quote-box box-v3 rgh1 mob-gh0">
								<div class="com_quote-box-main">
									<div class="section-par">
										<p>
											Over the past few months, I've observed many improvements for my kid, especially in the area of social interactions and awareness, I hope to see more develop in Wen Tao in the next year. <br>
											Thank you for the teachers' great efforts on Wen tao!! <br>
											Zhao Shi Yang
										</p>
										<p>
											Over the past few months, I've observed many improvements for my kid, especially in the area of social interactions and awareness, I hope to see more develop in Wen Tao in the next year. <br>
											Thank you for the teachers' great efforts on Wen tao!! <br>
											Zhao Shi Yang
										</p>
										<p>
											Over the past few months, I've observed many improvements for my kid, especially in the area of social interactions and awareness, I hope to see more develop in Wen Tao in the next year. <br>
											Thank you for the teachers' great efforts on Wen tao!! <br>
											Zhao Shi Yang
										</p>
									</div>
								</div>
							</div>
							<div class="d-flex align-items-center pl-5 ml-4 ml-sm-5 mt20 mob-mt20">
								<div class="qu-bo-img img-small"><img src="assets/img/dummy/user_quote8.jpg" alt=""></div>
								<div class="section-par mt-2 ml-4">
									<h5 class="mb-0"><strong>Wen Tao</strong></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="com_testi-clouds">
		<div class="com_testi-clouds-item item-one"><img src="assets/img/testimonials/bg_cloud_one.png" alt=""></div>
		<div class="com_testi-clouds-item item-two"><img src="assets/img/testimonials/bg_cloud_two.png" alt=""></div>
		<div class="com_testi-clouds-item item-three"><img src="assets/img/testimonials/bg_cloud_three.png" alt=""></div>

		<div class="com_testi-clouds-item item-four"><img src="assets/img/testimonials/bg_cloud_one.png" alt=""></div>
		<div class="com_testi-clouds-item item-five"><img src="assets/img/testimonials/bg_cloud_two.png" alt=""></div>
		<div class="com_testi-clouds-item item-six"><img src="assets/img/testimonials/bg_cloud_three.png" alt=""></div>

		<div class="com_testi-clouds-item item-seven"><img src="assets/img/testimonials/bg_cloud_one.png" alt=""></div>
		<div class="com_testi-clouds-item item-eight"><img src="assets/img/testimonials/bg_cloud_two.png" alt=""></div>
		<div class="com_testi-clouds-item item-nine"><img src="assets/img/testimonials/bg_cloud_three.png" alt=""></div>
	</div>
</div>
{% endblock %}