{% set pageTitleMeta = 'Therapy Services - Olive Tree Development Center' %}
{% set bodyClass = 'page-therapy-services' %}
{% set activePage = 'programs-and-services' %}

{% extends 'layout.njk' %}

{% block content %}
<div class="com_olive-tree-main">
	<div class="com_olive-tree-bottom">
		<div class="container-fluid th-se-map mb-0 animate" data-animate="parent">
			<div class="container animate" data-animate="child">
				<div class="com_banner-content">
					<div class="com_banner-item bp-ab th-se-map-header" style="top: 4.42%; height: auto;">
						<div class="section-title text-center">
							<h1>Therapy Services</h1>
						</div>
					</div>
					<div class="com_banner-item bp-ab links-animate th-se-map-pins group-height animate" data-animate="child">
						<div class="th-se-map-item item-one">
							<a href="speech-therapy.html">
								<div class="th-se-pin"></div>
								<div class="th-se-blurb blurb-right gh1">
									<h3>Speech Therapy (ST)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
						<div class="th-se-map-item item-two">
							<a href="occupational-therapy.html">
								<div class="th-se-pin"></div>
								<div class="th-se-blurb gh1">
									<h3>Occupational Therapy (OT)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
						<div class="th-se-map-item item-three">
							<a href="educational-therapy.html">
								<div class="th-se-pin"></div>
								<div class="th-se-blurb blurb-right gh1">
									<h3>Educational Therapy (ET)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
						<div class="th-se-map-item item-four">
							<a href="physiotherapy.html">
								<div class="th-se-pin"></div>
								<div class="th-se-blurb gh1">
									<h3>Physio Therapy (PT)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
						<div class="th-se-map-item item-five">
							<a href="music-therapy.html">
								<div class="th-se-pin"></div>
								<div class="th-se-blurb gh1">
									<h3>Music Therapy (MT)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
						<div class="th-se-map-item item-six">
							<a href="dance-movement-therapy.html">
								<div class="th-se-pin"></div>
								<div class="th-se-blurb gh1">
									<h3>Dance Movement Therapy (DMT)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
						<div class="th-se-map-item item-seven">
							<a href="art-therapy.html">
								<div class="th-se-pin"></div>
								<div class="th-se-blurb gh1">
									<h3>Art Therapy (AT)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
						<div class="th-se-map-item item-eight">
							<a href="cognitive-behavior-therapy.html">
								<div class="th-se-pin pin-large"></div>
								<div class="th-se-blurb gh1">
									<h3>Cognitive Behavior Therapy (CBT)</h3>
									<div class="mt-4">
										<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</h6>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="com_parallax-item bp-ab th-se-map-bus" data-parallax="5" style="top: 61.1%; left: 34.91%; width: 28%; height: auto;">
                        <img src="assets/img/therapy-services/banner_therapy_services_one_b.png" alt="">
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}