{% set rootDir = '' %}

{% set pageTitle = 'Olive Tree Development Center' %}
{% if pageTitleMeta %} {% set pageTitle = pageTitleMeta %} {% endif %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{pageTitle}}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="google-key" content="AIzaSyDrXmytPWn1vvhHvUG_XjO4JZwRWLfR3BY">

	<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	{% block styles %}
	<link rel="stylesheet" href="{{ rootDir }}assets/css/style.css" media="all"/>
	{% endblock %}
	{% block headerscript -%}{%- endblock %}
</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
	{% block bodyscript -%}{%- endblock %}
	<div class="com_preloader">
		<div class="com_preloader-main">
			<div class="pr-ma-olive olive-one">
				<svg width="510" viewBox="0 0 510 510.3013" xmlns="http://www.w3.org/2000/svg"><path d="m508.320312 283.527344c-8.109374-67.199219-42.027343-133.332032-94.933593-186.453125-53.121094-53.121094-119.253907-86.828125-186.453125-94.933594-68.054688-8.105469-129.066406 10.667969-171.734375 53.121094s-61.441407 103.464843-53.121094 171.734375c8.105469 67.199218 42.027344 133.332031 94.933594 186.453125 53.121093 53.117187 119.253906 86.824219 186.453125 94.933593 10.453125 1.277344 20.90625 1.917969 30.933594 1.917969 55.46875 0 104.746093-18.984375 140.585937-55.039062 42.882813-42.667969 61.652344-103.679688 53.335937-171.734375zm0 0" fill="#8bc34a"/><path d="m200.050781 64.007812c-12.585937-12.375-31.570312-16.214843-53.546875-10.878906-20.265625 5.117188-40.957031 17.277344-58.453125 34.773438-37.972656 38.1875-48.425781 87.253906-23.890625 112 8.957032 8.957031 21.332032 13.226562 34.984375 13.226562 23.894531 0 52.695313-13.015625 76.800781-37.335937 17.492188-17.277344 29.867188-37.972657 34.988282-58.238281 5.332031-21.972657 1.492187-40.960938-10.882813-53.546876zm0 0" fill="#558b2f"/><path d="m314.613281 510.089844c-10.027343 0-20.480469-.640625-30.933593-1.921875-67.199219-8.105469-133.335938-41.8125-186.453126-94.933594-53.121093-53.121094-86.828124-119.253906-94.933593-186.453125-8.320313-68.054688 10.664062-129.066406 53.117187-171.734375 42.457032-42.664063 103.683594-61.4375 171.734375-53.117187 67.199219 8.105468 133.335938 41.8125 186.453125 94.929687 53.121094 53.121094 86.828125 119.253906 94.933594 186.457031 8.320312 68.050782-10.664062 129.066406-53.121094 171.730469-36.265625 36.054687-85.332031 55.042969-140.796875 55.042969zm-118.402343-488.535156c-49.917969 0-93.867188 16.851562-125.652344 48.851562-37.761719 37.761719-54.613282 92.589844-47.148438 154.027344 7.683594 62.507812 39.253906 124.160156 88.960938 173.867187 49.707031 49.707031 111.359375 81.28125 173.867187 88.960938 61.441407 7.679687 116.054688-9.171875 154.027344-47.148438 37.972656-37.972656 54.613281-92.585937 47.144531-154.023437-7.679687-62.507813-39.25-124.160156-88.957031-173.867188-49.707031-49.707031-111.359375-81.28125-173.867187-88.960937-9.8125-1.28125-19.199219-1.707031-28.375-1.707031zm0 0"/><path d="m458.183594 319.582031c-5.757813 0-10.453125-4.480469-10.664063-10.242187-2.5625-56.746094-30.933593-116.480469-78.292969-163.625-4.269531-4.265625-4.269531-10.878906 0-15.148438 4.265626-4.265625 10.878907-4.265625 15.144532 0 50.988281 50.988282 81.707031 115.628906 84.480468 177.707032.214844 5.972656-4.265624 10.882812-10.238281 11.09375-.214843.214843-.214843.214843-.429687.214843zm0 0"/><path d="m99.359375 213.128906c-13.867187 0-26.027344-4.269531-34.988281-13.226562-24.746094-24.746094-14.292969-73.8125 23.679687-112 17.496094-17.496094 38.1875-29.867188 58.242188-34.773438 21.972656-5.335937 41.171875-1.496094 53.546875 10.878906 12.371094 12.375 16.425781 31.574219 10.878906 53.546876-4.90625 20.265624-17.28125 40.960937-34.558594 58.453124-24.320312 24.105469-52.910156 37.121094-76.800781 37.121094zm65.707031-141.015625c-5.121094 0-10.027344.855469-13.65625 1.707031-16.210937 4.054688-33.492187 14.507813-48.210937 29.226563-28.585938 28.585937-39.46875 66.132813-23.894531 81.707031 15.574218 15.574219 53.121093 4.695313 81.707031-23.894531 14.71875-14.71875 25.171875-32 29.226562-48.425781 2.132813-8.320313 4.054688-23.890625-5.332031-33.277344-5.335938-5.335938-12.800781-7.042969-19.839844-7.042969zm0 0"/></svg>
			</div>
			<div class="pr-ma-olive olive-two">
				<svg width="510" viewBox="0 0 510 510.3013" xmlns="http://www.w3.org/2000/svg"><path d="m508.320312 283.527344c-8.109374-67.199219-42.027343-133.332032-94.933593-186.453125-53.121094-53.121094-119.253907-86.828125-186.453125-94.933594-68.054688-8.105469-129.066406 10.667969-171.734375 53.121094s-61.441407 103.464843-53.121094 171.734375c8.105469 67.199218 42.027344 133.332031 94.933594 186.453125 53.121093 53.117187 119.253906 86.824219 186.453125 94.933593 10.453125 1.277344 20.90625 1.917969 30.933594 1.917969 55.46875 0 104.746093-18.984375 140.585937-55.039062 42.882813-42.667969 61.652344-103.679688 53.335937-171.734375zm0 0" fill="#8bc34a"/><path d="m200.050781 64.007812c-12.585937-12.375-31.570312-16.214843-53.546875-10.878906-20.265625 5.117188-40.957031 17.277344-58.453125 34.773438-37.972656 38.1875-48.425781 87.253906-23.890625 112 8.957032 8.957031 21.332032 13.226562 34.984375 13.226562 23.894531 0 52.695313-13.015625 76.800781-37.335937 17.492188-17.277344 29.867188-37.972657 34.988282-58.238281 5.332031-21.972657 1.492187-40.960938-10.882813-53.546876zm0 0" fill="#558b2f"/><path d="m314.613281 510.089844c-10.027343 0-20.480469-.640625-30.933593-1.921875-67.199219-8.105469-133.335938-41.8125-186.453126-94.933594-53.121093-53.121094-86.828124-119.253906-94.933593-186.453125-8.320313-68.054688 10.664062-129.066406 53.117187-171.734375 42.457032-42.664063 103.683594-61.4375 171.734375-53.117187 67.199219 8.105468 133.335938 41.8125 186.453125 94.929687 53.121094 53.121094 86.828125 119.253906 94.933594 186.457031 8.320312 68.050782-10.664062 129.066406-53.121094 171.730469-36.265625 36.054687-85.332031 55.042969-140.796875 55.042969zm-118.402343-488.535156c-49.917969 0-93.867188 16.851562-125.652344 48.851562-37.761719 37.761719-54.613282 92.589844-47.148438 154.027344 7.683594 62.507812 39.253906 124.160156 88.960938 173.867187 49.707031 49.707031 111.359375 81.28125 173.867187 88.960938 61.441407 7.679687 116.054688-9.171875 154.027344-47.148438 37.972656-37.972656 54.613281-92.585937 47.144531-154.023437-7.679687-62.507813-39.25-124.160156-88.957031-173.867188-49.707031-49.707031-111.359375-81.28125-173.867187-88.960937-9.8125-1.28125-19.199219-1.707031-28.375-1.707031zm0 0"/><path d="m458.183594 319.582031c-5.757813 0-10.453125-4.480469-10.664063-10.242187-2.5625-56.746094-30.933593-116.480469-78.292969-163.625-4.269531-4.265625-4.269531-10.878906 0-15.148438 4.265626-4.265625 10.878907-4.265625 15.144532 0 50.988281 50.988282 81.707031 115.628906 84.480468 177.707032.214844 5.972656-4.265624 10.882812-10.238281 11.09375-.214843.214843-.214843.214843-.429687.214843zm0 0"/><path d="m99.359375 213.128906c-13.867187 0-26.027344-4.269531-34.988281-13.226562-24.746094-24.746094-14.292969-73.8125 23.679687-112 17.496094-17.496094 38.1875-29.867188 58.242188-34.773438 21.972656-5.335937 41.171875-1.496094 53.546875 10.878906 12.371094 12.375 16.425781 31.574219 10.878906 53.546876-4.90625 20.265624-17.28125 40.960937-34.558594 58.453124-24.320312 24.105469-52.910156 37.121094-76.800781 37.121094zm65.707031-141.015625c-5.121094 0-10.027344.855469-13.65625 1.707031-16.210937 4.054688-33.492187 14.507813-48.210937 29.226563-28.585938 28.585937-39.46875 66.132813-23.894531 81.707031 15.574218 15.574219 53.121093 4.695313 81.707031-23.894531 14.71875-14.71875 25.171875-32 29.226562-48.425781 2.132813-8.320313 4.054688-23.890625-5.332031-33.277344-5.335938-5.335938-12.800781-7.042969-19.839844-7.042969zm0 0"/></svg>
			</div>
		</div>
	</div>
	<section id="main-container">
		<header>
			{% block header -%}{% include "partials/header.njk" %}{%- endblock %}
		</header>
		<section id="main-wrapper">
			{% block content -%}{%- endblock %}
		</section>
	</section>
	{% block popup -%}{%- endblock %}
	<footer>
		{% include "partials/footer.njk" %}
	</footer>
	{% block beforescript -%}{%- endblock %}
	{% block scripts %}
	<script src="{{ rootDir }}assets/js/lib/jquery.min.js"></script>
	<script src="{{ rootDir }}assets/js/custom.js"></script>
	{% endblock %}
	{% block footerscript -%}{%- endblock %}
</body>
</html>